<script type="text/template" id="about">

    <div id="wrapper">
        <div class="stopfoot-i">

            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Acerca de</span>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <!--<a class="cdef btn-back">&lt;&lt; Volver</a><br/><br/>-->

                    Mi Claro es una aplicaci&oacute;n segura y f&aacute;cil de usar para el manejo de sus cuentas de servicio con Claro.<br/><br/>

                    Mi Claro le permite ver:<br/><br/>

                    <ul>
                        <li>Detalles de cuenta.</li>
                        <li>Equipos asociados con la cuenta (servicio m&oacute;vil).</li>
                        <li>Los servicios que actualmente posee.</li>
                        <li>Actualice su nombre de usuario, email, direcci&oacute;n postal desde Mi Perfil.</li>
                        <li>Consumo de minutos, datos, llamadas y roaming entre otros.</li>
                        <li>Facturas.</li>
                        <li>Compra de paquetes de datos.</li>
                        <li>Realizar pagos.</li>
                        <li>Localizador de nuestros Puntos de Venta Servicio.</li>
                        <li>Widget.</li>
                        <li>Cambio de Plan.</li>
                        <li>Opci&oacute;n para regalar 1GB de datos a familiares y amigos clientes de Claro.</li>
                        <li>Manejo Mi Cuenta.</li>
                        <li>Reporta cualquier interrupci&oacute;n con tu l&iacute;nea telef&oacute;nica de voz e internet.</li>
                        <li>Suscr&iacute;bete a factura electr&oacute;nica y olvida el papel.</li>
                        <li>Regala una recarga a tus amigos con prepagos.</li>
                        <li>Compra servicios de seguro, asistencia en la carretera u otros.</li>
                        <li>Mejoras a las notificaciones.</li>
                    </ul>
                </div>
            </div>

            <div class="autobar">
                <div class="container">
                    <div class="basicrow">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            Versi&oacute;n <%= version %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <div class="basicrow">
                        <a href="mailto:soporteapps@speedymovil.com" class="cdef">soporteapps@speedymovil.com</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</script>