<script type="text/template" id="access_step_3">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">
			<div class="basicrow">
				<div class="container">
					<div class="basicrow mbott text-center">
						<div class="shortcont">
							<div class="basicrow m-top">
								<div class="basicrow f-btitle text-center">
									<div class="basicrow extra-margin">
										<img width="100%" class="mc-icon" src="images/fact-dig.png">
										Actualizaci&oacute;n de Notificaciones de Pago
									</div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								&#191;Desea recibir su factura en formato digital v&iacute;a SMS y Correo Electr&oacute;nico&#63;
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input type="radio" name="group" value="yes" checked="checked"/> Si
								</div>
							</div>

							<div class="basicrow m-top-u">
								<div class="basicrow">
									<input type="radio" name="group" value="no"/> No
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								Ingrese el n&uacute;mero de tel&eacute;fono de preferencia para recibir el SMS de factura electr&oacute;nica
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="phone" type="number" placeholder="Tel&eacute;fono &#40;Opcional&#41;" class="inp-f facercg" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="btns red vcenter rippleR">
									<div class="tabcell" id="btn-next">
										Guardar Cambios
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>