<script type="text/template" id="account">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mi Cuenta</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>" <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="lineb m-top">

				<% _.each(subscribers, function(value, index) { %>
				<div data-toggle="collapse" data-target="#phone<%= index %>" class="phonebar select-subscriber" data-value="<%= value.subscriber%>" data-index="<%= index %>" id="select-subscriber-<%= index %>">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black"><%= value.subscriber %></span><br/>
							<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
						</div>
					</div>
				</div>

				<div id="phone<%= index %>" class="collapse">
					<div class="basicrow">
						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">Plan Actual</div>

								<div class="basicrow m-top-ii">
									<div class="contspace f-med f-black text-left f-bold" id="planName<%= index %>">
										<%= selectedSubscriber.Plan %> - $<%=parseFloat(selectedSubscriber.PlanRate.replace('$','')).toFixed(2) %>
									</div>

									<div class="phonespace f-lmed f-red din-b text-right" id="planRate<%= index %>">
										$<%=parseFloat(selectedSubscriber.PlanRate.replace('$','')).toFixed(2) %>
									</div>
								</div>
							</div>
						</div>

						<div id="selectedSubscriberSvas<%= index %>"></div>

						<div class="big-bal difst text-center">
							<div class="theight" id="totalPlanRate<%= index %>">
								<span class="tmed-s din-b f-red">$</span>
								<span class="big-s din-b f-red"><%=newAmountValue[0]%></span>
								<span class="tmed-s din-b f-red"><span class="tabcell"><%=newAmountValue[1]%></span></span>
							</div>

							<div class="basicrow f-little m-bottom f-bold">Renta Mensual</div>
						</div>

						<div class="autobar diff-i" id="btn-change-plan">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell">
										Cambio de Plan
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<% }); %>

			</div>

			<div class="subtitle ntop din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					RESUMEN DE LA FACTURA
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							&Uacute;ltimo Pago
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= lastPayment %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Fecha de Factura
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%= selectedAccount.BillDate %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Su Factura Vence
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%= selectedAccount.BillDateEnd %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Balance Pendiente
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= amtDue %>
						</div>
					</div>
				</div>
			</div>

			<div class="autobar diff">
				<div class="container">
					<div class="r-btn text-center f-med f-white vcenter">
						<div class="tabcell" id="btn-add-accounts">
							Manejo de su Cuenta
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>
    
</script>