<script type="text/template" id="change_plan_2">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Cambio de Plan</span>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					RESUMEN DE CAMBIO DE PLAN
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow f-little din-b f-gray">Cambio de Plan</div>

					<div class="basicrow m-top-ii">
						<div class="contspace full f-med f-black text-justify f-bold">
							<%= socDesc %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Renta Mensual
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= socRent %>
						</div>
					</div>
				</div>
			</div>

			<% if(dsl) { %>
			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					TÉRMINOS DEL CONTRATO
				</div>
			</div>

			<div class="planspc input-check-container" <%= (dslMonths != null && dslMonths == 0 || dslMonths == 12) ? 'style="display:block"' : 'style="display:none"'  %> >
			<div class="container norel">
				<div class="spc-i vcenter">
					<div class="tabcell">
						<input type="checkbox" name="checkbox_activation_term" id="checkbox_activation_12" class="css-checkbox2 checkbox-activation" value="12months"/><label for="checkboxG7" class="css-label2 radGroup1"></label>
					</div>
				</div>

				<div class="spc-ii full f-little text-justify vcenter">
					<div class="tabcell">
						<span class="f-bold">12 Meses</span>
					</div>
				</div>
			</div>
		</div>

		<div class="planspc wbg input-check-container">
			<div class="container norel">
				<div class="spc-i vcenter">
					<div class="tabcell">
						<input type="checkbox" name="checkbox_activation_term" id="checkbox_activation_24" class="css-checkbox2 checkbox-activation" value="24months" /><label for="checkboxG7" class="css-label2 radGroup1"></label>
					</div>
				</div>

				<div class="spc-ii full f-little text-justify vcenter">
					<div class="tabcell">
						<span class="f-bold">24 Meses</span>
					</div>
				</div>
			</div>
		</div>
		<% }else{ %>
		<div class="subtitle nbott din-b f-little text-center f-black vcenter">
			<div class="tabcell">
				FECHA DE ACTIVACI&Oacute;N DEL NUEVO PLAN
			</div>
		</div>

		<div class="planspc input-check-container">
			<div class="container norel">
				<div class="spc-i vcenter">
					<div class="tabcell">
						<!-- <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox2" checked/><label for="checkboxG1" class="css-label2 radGroup1"></label> -->
						<input type="checkbox" name="checkbox_activation" id="checkbox_activation_now" class="css-checkbox2 checkbox-activation" value="now"/><label for="checkboxG7" class="css-label2 radGroup1"></label>
					</div>
				</div>

				<div class="spc-ii full f-little text-justify vcenter">
					<div class="tabcell">
						¿Desea activar su nuevo plan de inmediato?<br/>
						<span class="f-bold"><%= actualCicle %></span>
					</div>
				</div>
			</div>
		</div>

		<div class="planspc wbg input-check-container">
			<div class="container norel">
				<div class="spc-i vcenter">
					<div class="tabcell">
						<!-- <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox2"/><label for="checkboxG2" class="css-label2 radGroup1"></label> -->
						<input type="checkbox" name="checkbox_activation" id="checkbox_activation_next" class="css-checkbox2 checkbox-activation" value="next" /><label for="checkboxG7" class="css-label2 radGroup1"></label>
					</div>
				</div>

				<div class="spc-ii full f-little text-justify vcenter">
					<div class="tabcell">
						¿Desea activar su nuevo plan en su pr&oacute;ximo ciclo de facturaci&oacute;n?<br/>
						Escoja esta opci&oacute;n si desea que no apliquen prorrateos en su pr&oacute;xima factura.<br/>
						<span class="f-bold"><%= nextClicle %></span>
					</div>
				</div>
			</div>
		</div>
		<% } %>


		<div class="subtitle nbott din-b f-little text-center f-black vcenter">
			<div class="tabcell">
				T&Eacute;RMINOS Y CONDICIONES
			</div>
		</div>

		<div class="autobar f-small f-bold f-black diffr">
			<div class="container">
				<input type="checkbox" name="checkbox-terms-and-conditions" id="checkbox-terms-and-conditions" class="css-checkbox" value="true"/>
				<label class="css-label radGroup1"></label>
				<label for="checkbox-terms-and-conditions">Acepto los</label> <a class="cdef" id="btn-terms">T&eacute;rminos y Condiciones &gt;&gt;</a>
			</div>
		</div>

		<div class="autobar diff" id="bth-accept">
			<div class="container">
				<div class="r-btn text-center f-med f-white vcenter">
					<div class="tabcell">
						Aceptar
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include footer %>

	</div>

</script>