<script type="text/template" id="change_plan_adsl">

	<div id="wrapper">
		<div class="stopfoot-i">

			<div class="headbar text-center vcenter">
				<div class="container rel vcenter">
					<div class="tabcell">

						<div class="open-menu">
							<img class="backicon" width="100%" src="images/mdispicon.png" >
						</div>

						<img class="headlogo" width="100%" src="images/miclarologo.png">
					</div>
				</div>
			</div>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Cambio de Plan</span>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell" style="text-transform: uppercase;">
					<%= (showDescription) ? description + '<br>' : '<br>' %>
					<%= (showOrderNumber) ? 'Su n&uacute;mero de orden es: ' + orderNumber : '' %>
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow f-little din-b f-gray">Nuevo Plan</div>

					<div class="basicrow m-top-ii">
						<div class="contspace full f-med f-black text-justify f-bold">
							<%= socDesc %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Renta Mensual
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= socRent %>
						</div>
					</div>
				</div>
			</div>


			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Contrato Por
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%= application %> meses
						</div>
					</div>
				</div>
			</div>

			<div class="autobar diff btn-menu">
				<div class="container">
					<div class="r-btn text-center f-med f-white vcenter">
						<div class="tabcell">
							Continuar
						</div>
					</div>
				</div>
			</div>
		</div>

		<%include footer%>

	</div>

</script>