<script type="text/template" id="change_plan">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-05"></span> Cambio de Plan
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">

					<div class="autowcont notopbrd list-subscriber">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber-<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= subscriberObj.subscriberNumberField %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber-<%= subscriberIndex %>" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicr-line f-big">
									Plan Actual
								</div>

								<div class="basicrow m-top-i">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="userinfo full nomtops">
												<div class="basicrow m-bott">
													<div class="basicrow f-bmed roboto-b m-bott">
														Detalle del Plan
													</div>

													<div class="redstat">
														<div class="autorow roboto-r pull-left">
															Plan Actual
														</div>

														<div class="autorow roboto-b pull-right">
															Plan Nacional
														</div>
													</div>
												</div>

												<div class="basicrow m-top-ii">
													<div class="basicrow f-reg roboto-b m-bott">
														Descripci&oacute;n del Plan:
													</div>

													<div class="redstat">
														<div class="basicrow roboto-r">
															Voz
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Mensajes
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															LDI Ilimitado a USA
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Roaming
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Data en PR &#38; USA con PUJ de 5GB
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="basicrow m-top text-center">
												<div class="servs-monthly planchg">
													<div class="basicrow">
															<span class="roboto-b">
																Renta Mensual
															</span><br/>

														<span class="f-red f-semi roboto-m">
																&#36;68.94
															</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="basicr-line f-big m-top-i">
									Planes Sugeridos
								</div>
							</div>

							<!-- [INIT CAROUSEL PLANES EN WEB] -->
							<div id="myCarousel" class="basicrow carousel slide hidden-xs" data-interval="false" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators" style="display: none;">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;39.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;40.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;50.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;39.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;40.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;50.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" data-slide="prev">
									      <span class="glyphicon glyphicon-chevron-left">
									      	<i class="fa fa-angle-left" aria-hidden="true"></i>
									      </span>
								</a>
								<a class="right carousel-control" href="#myCarousel" data-slide="next">
									      <span class="glyphicon glyphicon-chevron-right">
									      	<i class="fa fa-angle-right" aria-hidden="true"></i>
									      </span>
								</a>
							</div>
							<!-- [END CAROUSEL PLANES EN WEB] -->

							<!-- [INIT CAROUSEL PLANES EN MOVIL] -->
							<div id="myCarousel2" class="basicrow carousel slide visible-xs" data-interval="false" data-ride="carousel2">
								<!-- Indicators -->
								<ol class="carousel-indicators" style="display: none;">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;39.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;40.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle vcenter">
															<div class="tabcell">
																&#36;50.00
															</div>
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-b">
																Descripci&oacute;n del Plan:
															</div>

															<div class="basicrow m-top-ii">
																<div class="redstat rblack">
																	Voz
																</div>

																<div class="redstat rblack m-top-u">
																	Mensajes
																</div>

																<div class="redstat rblack m-top-u">
																	LDI Ilimitado a USA
																</div>

																<div class="redstat rblack m-top-u">
																	Roaming
																</div>

																<div class="redstat rblack m-top-u">
																	Data en PR &#38; USA con PUJ de 20GB
																</div>
															</div>

															<div class="basicrow m-top-ii">
																<div class="logline full"></div>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Escoger&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
								</a>
								<a class="right carousel-control" href="#myCarousel2" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</a>
							</div>
							<!-- [END CAROUSEL PLANES EN MOVIL] -->
						</div>

						<% });  %>

					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
