<script type="text/template" id="confirm_pay_quota">
        
	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
                    <span class="f-med">Pagar Equipo</span>
				</div>
			</div>

            <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                <div class="tabcell">
                    CONFIRMACI&Oacute;N
                </div>
            </div>
            
            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            &#161;Gracias por su pago&#33; Podr&aacute; verificar los cambios de 24-48 hrs h&aacute;biles.
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">Equipo</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= detailTransaction.device %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">Cuotas</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= detailTransaction.quotas %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">Monto</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            $<%= detailTransaction.amount %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">N&uacute;mero de Transacci&oacute;n</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= detailTransaction.transactionId %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">N&uacute;mero de Confirmaci&oacute;n</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= detailTransaction.confirmationNumber %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">Fecha</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= detailTransaction.createdDate %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="autobar diff">
                <div class="container">
                    <div class="g-btn text-center f-med f-white vcenter btn-close">
                        <div class="tabcell">
                            Cerrar
                        </div>
                    </div>
                </div>
            </div>            
            
		</div>
        
        <% include footer %>

	</div>
    

</script>
