<script type="text/template" id="contact_us">

	<div id="wrapper">
		<div class="stopfoot-i">

			<div class="headbar text-center vcenter">
				<div class="container rel vcenter">
					<div class="tabcell">
						<% if (showBackBth) { %>
						<div class="btn-back">
							<img class="dispicon" width="100%" src="images/backicon2.png">
						</div>
						<% } %>

						<img class="headlogo" width="100%" src="images/miclarologo.png">
					</div>
				</div>
			</div>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Cont&aacute;ctanos</span>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					SERVICIO AL CLIENTE
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow">
						<div class="contspace half f-lmed f-black text-justify f-bold">
							Residencial
						</div>

						<div class="phonespace half f-reg f-red din-b text-right">
							<a href="tel://<%=residentialPhone%>" class="cdef"><%=residentialPhone%> <img width="100%" class="phnicon" src="images/phoneicon.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow">
						<div class="contspace half f-lmed f-black text-justify f-bold">
							M&oacute;vil
						</div>

						<div class="phonespace half f-reg f-red din-b text-right">
							<a href="tel://<%=mobilePhone%>" class="cdef"><%=mobilePhone%> <img width="100%" class="phnicon" src="images/phoneicon.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow">
						<div class="contspace half f-lmed f-black text-justify f-bold">
							Soporte Internet
						</div>

						<div class="phonespace half f-reg f-red din-b text-right">
							<a href="tel://<%=supportPhone%>" class="cdef"><%=supportPhone%> <img width="100%" class="phnicon" src="images/phoneicon.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					APOYO MI CLARO
				</div>
			</div>

			<div class="autobar diffr">
				<div class="container">
					<div class="basicrow text-center f-lmed f-black f-bold">
						Email: <a href="mailto:<%=email%>" class="cdef"><%=email%></a>
					</div>
				</div>
			</div>
		</div>

	</div>

</script>