<script type="text/template" id="dashboard_menu">

	<div class="basicrow m-top-i">
		<div class="row dashboard">
			<div class="dashconts">
				<div class="dashbox gray vcenter">
					<span class="tabcell">
						<span class="icon-dash-01"></span>
						Factura y Pago
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter">
					<span class="tabcell">
						<span class="icon-dash-02"></span>
						Consumo de Voz, Mensajer&iacute;a y Roaming
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-03"></span>
						Consumo de Datos
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox white vcenter dash-my-services">
					<span class="tabcell">
						<span class="icon-dash-25"></span>
						Mis Servicios
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter">
					<span class="tabcell">
						<span class="icon-dash-08"></span>
						Compra de Data Adicional
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-05"></span>
						Cambio de Plan
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox white vcenter">
					<span class="tabcell">
						<span class="icon-dash-07"></span>
						Tienda
					</span>
				</div>
			</div>

			<div class="dashconts">
				<a class="dashbox gray vcenter">
					<span class="tabcell">
						<span class="icon-dash-23"></span>
						Regala 1 GB a un Amigo/a o Familiar Postpago​
					</span>
				</a>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-10"></span>
						Regala una Recarga Prepago
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox gray vcenter dash-digital-bill">
					<span class="tabcell">
						<span class="icon-dash-11"></span>
						Factura Digital
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter dash-account">
					<span class="tabcell">
						<span class="icon-dash-14"></span>
						Configuraci&oacute;n de Cuenta
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-16"></span>
						Netflix
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter dash-refer">
					<span class="tabcell">
						<span class="icon-dash-21"></span>
						Programa de Referidos
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="basicrow m-top-i m-bott">
		<div class="container">
			<img width="100%" src="images/clarobannernetflix.jpg">
		</div>
	</div>
    
</script>