<script type="text/template" id="dashboard_payment">

	<div class="basicrow msidespad m-top-u-i">
		<div class="balancesptr-i">
			<label class="label-r">N&uacute;mero de Cuenta</label>

			<div class="basicrow">
				<select id="select-account" class="sel-f">
					<% _.each(accounts, function(value, index) { %>
					<option value="<%= value.Account %>" <%= value.Account==selectedAccountValue?'selected="selected"':'' %> ">
					<%= value.Account %>
					</option>
					<% }); %>
				</select>
			</div>
		</div>

		<div class="balancesptr-iicont">
			<div class="balancesptr-ii text-center">
				<span class="roboto-b">
					Balance Pendiente
				</span>
				<br/>
				<span class="f-red f-lsemi roboto-b">
					&#36;<%=newAmountValue[0]%>&#46;<%=newAmountValue[1]%>
				</span>
			</div>

			<div class="balancesptr-ii no-brd-i text-center">
				<span class="roboto-b">
					Su Factura Vence
				</span>
				<br/>
				<span class="f-black f-big roboto-b">
					<%=billDateEnd%>
				</span>
			</div>
		</div>

		<div class="basicrow m-bott visible-md visible-sm">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iii">
			<label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

			<div class="basicrow rel">

				<img class="q-t-pay" width="100%" src="images/tooltip1.png">

				<input id="due-amount" type="number" value="<%=amtDue%>" class="inp-f payup qt">

				<div id="btn-bill" class="btns red payup vcenter rippleR">
					<div class="tabcell">
						Pagar
					</div>
					</a>
				</div>
			</div>

		</div>

		<div class="basicrow m-bott visible-xs">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iv f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				Fecha de Factura<br/>
				<span class="roboto-b">09/19/2018</span>
			</div>
		</div>

		<div class="balancesptr-iv no-brd f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				&Uacute;ltimo Pago<br/>
				<span class="roboto-b">&#36;<%=lastPayment%></span>
			</div>
		</div>
	</div>
    
</script>