<script type="text/template" id="dashboard_payment_referral">

	<div class="basicrow msidespad m-top-u-i">
		<div class="balancesptr-i">
			<label class="label-r">N&uacute;mero de Cuenta</label>

			<div class="basicrow">
				<select id="select-account" class="sel-f">
					<% _.each(accounts, function(value, index) { %>
					<option value="<%= value.Account %>" <%= value.Account==selectedAccountValue?'selected="selected"':'' %> ">
					<%= value.Account %>
					</option>
					<% }); %>
				</select>
			</div>
		</div>

		<div class="balancesptr-iicont refdef">
			<div class="balancesptr-ii text-center">
					<span class="roboto-b">
						Balance Pendiente
					</span>
				<br/>
				<span class="f-red f-lsemi roboto-b">
					&#36;<%=newAmountValue[0]%>&#46;<%=newAmountValue[1]%>
				</span>
			</div>

			<div class="balancesptr-ii no-brd-i text-center">
					<span class="roboto-b">
						Su Factura Vence
					</span>
				<br/>
				<span class="f-black f-big roboto-b">
					<%=billDateEnd%>
				</span>
			</div>
		</div>

		<div class="basicrow m-bott visible-md visible-sm">
			<div class="logline full"></div>
		</div>

		<div class="basicrow m-bott visible-xs">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iv refdef f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				Fecha de Factura<br/>
				<span class="roboto-b">09/19/2018</span>
			</div>
		</div>

		<div class="balancesptr-iv refdef no-brd f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				&Uacute;ltimo Pago<br/>
				<span class="roboto-b">&#36;<%=lastPayment%></span>
			</div>
		</div>

	</div>


	<div class="basicrow bg-gray">
		<div class="container">
			<div class="autowcont dashapp m-top-i">
				<div class="basicrow msidespad">
					<div class="b-title">
						<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
							<div class="tabcell">
								Opciones de Pago
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow msidespad m-top-u-i">
					<div class="balancesptr-i refdef text-center">
						<span class="roboto-b">
							Cr&eacute;ditos Disponibles
						</span>
						<br/>
						<span id="sumAvialable" class="f-blue f-lsemi roboto-b">
							&#36;0.00
						</span>
					</div>

					<div class="basicrow m-bott visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-iii refdef">

						<div class="title-amount-container">
							<label class="label-r roboto-b text-title-amount">Monto de Cr&eacute;dito a Aplicar</label>

							<img class="tooltip-amount" data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" src="images/tooltip1.png">
						</div>

						<div class="basicrow">

							<input id="credit-amount" value="&#36;50.00" class="inp-f payup qt" readonly>

							<div id="btn-apply" class="btns blue payup vcenter rippleB">
								<span class="tabcell">
									Aplicar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="basicrow m-bott visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-iii refdef no-brd">
						<div class="title-amount-container">
							<label class="label-r roboto-b text-title-amount">Monto a Pagar (&#36;)</label>

							<img class="tooltip-amount" data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" src="images/tooltip1.png">
						</div>

						<div class="basicrow rel">
							<input id="due-amount" type="number" value="<%=amtDue%>" class="inp-f payup qt">

							<div id="btn-bill" class="btns red payup vcenter rippleR">
								<span class="tabcell">
									Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="basicrow">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="dashdirect-digf">
						<img class="digf-def-i" width="100%" src="images/fact-dig.png">

						<div class="autocont nofloat m-septrt">
							<div class="autocont vcenter">
								<div class="tabcell">
									Factura Electr&oacute;nica:
								</div>
							</div>
						</div>

						<div class="autocont nofloat m-septrt">
							<div class="autocont vcenter">
								<div class="tabcell">
									<label class="switch m-left-i">
										<input type="checkbox">
										<span class="slider"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="dashdirect-chat vcenter">
						<img class="direct-chat-i" width="100%" src="images/chatnow-icon.png">

						<span class="tabcell">
							Chatea con Nosotros
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
    
</script>