<script type="text/template" id="dashboard_postpago">

	<div class="basicrow m-top-i lessm">
		<div class="container">
			<div class="autowcont dashapp m-top">
				<div class="basicrow msidespad">
					<div class="b-title">
						<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
							<div class="tabcell">
								Balance
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="basicrow msidespad m-top-u-i">
		<div class="balancesptr-i">
			<label class="label-r">N&uacute;mero de Cuenta</label>

			<div class="basicrow">
				<select id="select-account" class="sel-f">
					<% _.each(accounts, function(value, index) { %>
					<option value="<%= value.Account %>" <%= value.Account==selectedAccountValue?'selected="selected"':'' %> ">
					<%= value.Account %>
					</option>
					<% }); %>
				</select>
			</div>
		</div>
	</div>

	<% if (redeemProgramAvailable) { %>

	<div class="basicrow msidespad">
		<div class="balancesptr-iicont refdef">
			<div class="balancesptr-ii text-center">
				<span class="roboto-b">
					Balance Pendiente
				</span>
				<br/>
				<span class="f-red f-lsemi roboto-b">
					&#36;<%= amountDue %>
				</span>
			</div>

			<div class="balancesptr-ii no-brd-i text-center">
				<span class="roboto-b">
					Su Factura Vence
				</span>
				<br/>
				<span class="f-black f-big roboto-b">
					<%= billDueDate %>
				</span>
			</div>
		</div>

		<div class="basicrow m-bott visible-xs">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iv refdef f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				Fecha de Factura<br/>
				<span class="roboto-b"><%= billDate %></span>
			</div>
		</div>

		<div class="balancesptr-iv refdef no-brd f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				&Uacute;ltimo Pago<br/>
				<span class="roboto-b">&#36;<%= latPaymentAmount %></span>
			</div>
		</div>
	</div>

	<div class="basicrow bg-gray">
		<div class="container">
			<div class="autowcont dashapp m-top-i">
				<div class="basicrow msidespad">
					<div class="b-title">
						<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
							<div class="tabcell">
								Opciones de Pago
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow msidespad m-top-u-i">
					<div class="balancesptr-i refdef text-center">
						<span class="roboto-b">
							Cr&eacute;ditos Disponibles
						</span>
						<br/>
						<span id="sumAvialable" class="f-blue f-lsemi roboto-b">
							&#36;0.00
						</span>
					</div>

					<div class="basicrow m-bott visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-iii refdef">

						<div class="title-amount-container">
							<label class="label-r roboto-b text-title-amount">Monto de Cr&eacute;dito a Aplicar</label>

							<img class="tooltip-amount" data-toggle="popover" data-html="true" data-content="Deberá tener este monto disponible en sus creditos." data-placement="bottom" src="images/tooltip1.png">
						</div>

						<div class="basicrow">

							<input id="credit-amount" value="&#36;50.00" class="inp-f payup qt" readonly>

							<div id="btn-apply" class="btns blue payup vcenter rippleB">
								<span class="tabcell">
									Aplicar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="basicrow m-bott visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-iii refdef no-brd">
						<div class="title-amount-container">
							<label class="label-r roboto-b text-title-amount">Monto a Pagar (&#36;)</label>

							<img class="tooltip-amount" data-toggle="popover" data-html="true" data-content="Ahora puedes abonar hasta $500.00. Si la cantidad indica CR, significa que usted tiene cr&eacute;dito en su cuenta." data-placement="bottom" src="images/tooltip1.png">
						</div>

						<div class="basicrow rel">
							<input type="number" value="<%= amountPayable %>" class="inp-f payup qt">

							<div class="btns red payup vcenter rippleR">
								<span class="tabcell">
									Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% } else { %>

	<div class="basicrow msidespad">
		<div class="balancesptr-iicont">
			<div class="balancesptr-ii text-center">
				<span class="roboto-b">
					Balance Pendiente
				</span>
				<br/>
				<span class="f-red f-lsemi roboto-b">
					&#36;<%= amountDue %>
				</span>
			</div>

			<div class="balancesptr-ii no-brd-i text-center">
				<span class="roboto-b">
					Su Factura Vence
				</span>
				<br/>
				<span class="f-black f-big roboto-b">
					<%= billDate %>
				</span>
			</div>
		</div>

		<div class="basicrow m-bott visible-md visible-sm">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iii">
			<div class="title-amount-container">
				<label class="label-r roboto-b text-title-amount">Monto a Pagar (&#36;)</label>

				<img class="tooltip-amount" data-toggle="popover" data-html="true" data-content="Ahora puedes abonar hasta $500.00. Si la cantidad indica CR, significa que usted tiene cr&eacute;dito en su cuenta." data-placement="bottom" src="images/tooltip1.png">
			</div>

			<div class="basicrow rel">
				<input id="due-amount" type="number" value="<%= amountPayable %>" class="inp-f payup qt">

				<div id="btn-bill" class="btns red payup vcenter rippleR">
					<div class="tabcell">
						Pagar
					</div>
					</a>
				</div>
			</div>

		</div>

		<div class="basicrow m-bott visible-xs">
			<div class="logline full"></div>
		</div>

		<div class="balancesptr-iv f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				Fecha de Factura<br/>
				<span class="roboto-b"><%= billDueDate %></span>
			</div>
		</div>

		<div class="balancesptr-iv no-brd f-reg roboto-r text-center">
			<div class="basicrow m-top-u">
				&Uacute;ltimo Pago<br/>
				<span class="roboto-b">&#36;<%= latPaymentAmount %></span>
			</div>
		</div>
	</div>

	<% } %>


	<div class="basicrow">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="dashdirect-digf">
						<img class="digf-def-i" width="100%" src="images/fact-dig.png">
						<% if (paperless) { %>
						<div class="autocont nofloat alrd-mleft">
							<div class="autocont f-green-i vcenter">
								<div class="tabcell">
									<span class="f-newfdig">Suscrito a Factura Electr&oacute;nica</span>
								</div>
							</div>
						</div>

						<div class="autocont nofloat">
							<div class="autocont vcenter">
								<div class="tabcell">
									<img class="fdig-check" width="100%" src="images/fact-dig-check.png">
								</div>
							</div>
						</div>
						<% } else { %>
						<div class="autocont nofloat m-septrt">
							<div class="autocont vcenter">
								<div class="tabcell">
									Factura Electr&oacute;nica:
								</div>
							</div>
						</div>

						<div class="autocont nofloat m-septrt">
							<div class="autocont vcenter">
								<div class="tabcell">
									<label class="switch m-left-i">
										<input data-switch-type="PAPERLESS" type="checkbox" id="paperless-switch" class="paperless-switch">
										<span class="slider"></span>
									</label>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="dashdirect-chat vcenter">
						<img class="direct-chat-i" width="100%" src="images/chatnow-icon.png">
						<span class="tabcell">
							Chatea con Nosotros
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="basicrow m-top-i">
		<div class="row dashboard">
			<div class="dashconts">
				<div class="dashbox gray vcenter">
					<span class="tabcell">
						<span class="icon-dash-01"></span>
						Factura y Pago
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter">
					<span class="tabcell">
						<span class="icon-dash-02"></span>
						Consumo de Voz, Mensajer&iacute;a y Roaming
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-03"></span>
						Consumo de Datos
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox white vcenter dash-my-services">
					<span class="tabcell">
						<span class="icon-dash-25"></span>
						Mis Servicios
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter">
					<span class="tabcell">
						<span class="icon-dash-08"></span>
						Compra de Data Adicional
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-05"></span>
						Cambio de Plan
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox white vcenter">
					<span class="tabcell">
						<span class="icon-dash-07"></span>
						Tienda
					</span>
				</div>
			</div>

			<div class="dashconts">
				<a class="dashbox gray vcenter">
					<span class="tabcell">
						<span class="icon-dash-23"></span>
						Regala 1 GB a un Amigo/a o Familiar Postpago​
					</span>
				</a>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-10"></span>
						Regala una Recarga Prepago
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox gray vcenter dash-digital-bill">
					<span class="tabcell">
						<span class="icon-dash-11"></span>
						Factura Digital
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter dash-account">
					<span class="tabcell">
						<span class="icon-dash-14"></span>
						Configuraci&oacute;n de Cuenta
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox red vcenter">
					<span class="tabcell">
						<span class="icon-dash-16"></span>
						Netflix
					</span>
				</div>
			</div>

			<div class="dashconts">
				<div class="dashbox blue vcenter dash-refer">
					<span class="tabcell">
						<span class="icon-dash-21"></span>
						Programa de Referidos
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="basicrow m-top-i m-bott">
		<div class="container">
			<img width="100%" src="images/clarobannernetflix.jpg">
		</div>
	</div>
    
</script>