<script type="text/template" id="data_plan">

	<link href="css/circle-big.css" rel="stylesheet">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/> <br/>


							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/> <br/>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<% if(wirelessAccount) {%>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-08"></span> Compra de Data Adicional
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
								<span class="tabcell">
									N&uacute;mero de Cuenta
								</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow mbott bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
						Selecciona el <span class="roboto-b">n&uacute;mero de cuenta y n&uacute;mero de suscriptor</span> a la que deseas que se le aplique la compra.
					</div>

					<div class="autowcont notopbrd">

						<% _.each(subscribers, function(subscriber, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriber.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriber.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriber.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber<%= subscriberIndex %>" class="collapse">

							<div class="basicrow tabtopb f-black roboto-r f-reg">

								<div class="basicrow">
									<div class="basicrow">
										<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
											<div class="tabcell">
												Ciclo de Facturaci&oacute;n
											</div>
										</div>

										<div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
											<div class="tabcell ciclo-fact">

											</div>
										</div>
									</div>

									<div class="basicrow m-top-ii">
										<div class="logline full"></div>
									</div>
								</div>

								<div class="basicr m-top-i m-bott-ii plan-basic-content">

									<div class="basicrow m-top-i m-bott plan-basic-empty" style="display: none">
										<h3> No hay planes básicos activos</h3>
									</div>

									<div class="row plan-basic-full">
										<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center">
											<div class="graphic-chart" style="height: 60vw">
												<div class="c100 text-center center vcenter" style="height: 55vw; width: 55vw; font-size: 55vw">
													<div class="slice" style="font-size: 55vw">
														<div class="bar"></div>
														<div class="fill"></div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
											<div class="basicrow">
												<div class="userinfo full">
													<div class="basicrow">
														<div class="basicrow f-bmed roboto-b m-bott">
															Detalle del Plan
														</div>

														<div class="redstat">
															<div class="autorow roboto-r pull-left">
																Plan Base
															</div>

															<div class="autorow roboto-b pull-right data-plan-name">

															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																Has consumido
															</div>

															<div class="autorow roboto-b pull-right data-plan-usage">

															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="basicrow m-top">
												<div class="logline full"></div>
											</div>

											<div class="basicrow m-top-ii">
												<div class="twostats">
													<div class="statrectdef redstat"></div>

													<div class="autocont f-mini roboto-r f-black vcenter">
														<div class="tabcell consumido-label">
															Consumidos
														</div>
													</div>
												</div>

												<div class="twostats">
													<div class="statrectdef graystat"></div>

													<div class="autocont f-mini roboto-r f-black vcenter">
														<div class="tabcell disponible-label">
															Disponibles
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow m-top-ii">
											<div class="logline full"></div>
										</div>

									</div>

									<div class="basicrow m-top-i m-bott not-additional-packs" style="display: none">
										<h3> No hay paquetes adicionales disponibles para este suscriptor.</h3>
									</div>

								</div>
							</div>

							<div class="carousel-container">
								<div class="basicrow f-big m-bott-ii text-center">
									Planes de Datos Adicionales
								</div>
								<!-- [INIT CAROUSEL PLANES EN MOVIL] -->
								<div id="carousel<%= subscriberIndex %>" class="basicrow carousel slide visible-xs" data-interval="false" data-ride="carousel2">
									<!-- Indicators -->
									<ol class="carousel-indicators" style="display: none;">

									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">

									</div>


									<!-- Left and right controls -->
									<a class="left carousel-control" href="#carousel<%= subscriberIndex %>" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
									</a>
									<a class="right carousel-control" href="#carousel<%= subscriberIndex %>" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
									</a>
								</div>
								<!-- [END CAROUSEL PLANES EN MOVIL] -->

								<div class="basicrow topbord-i">
									<div class="basicrow m-top m-bott text-center">
										<a class="linkdefs link-terms">
											Ver T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>

						</div>

						<% });  %>

					</div>

				</div>
			</div>

			<%} else { %>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					AVISO
				</div>
			</div>

			<div class="nbott din-b f-little text-center f-red">Los paquetes de datos no se pueden aplicar a suscriptores de telefon&iacute;a fija.</div>

			<% } %>

			<div id="errorCont" style="display:none">
				<div class="subtitle nbott din-b f-little text-center f-black vcenter">
					<div class="tabcell">
						AVISO
					</div>
				</div>

				<div class="nbott din-b f-little text-center f-red" id="errorMsg"></div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>