<script type="text/template" id="debit_direct">
	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

				<% include navmenu %>

					<div class="w-cont din-b f-white">
						<div class="container">
							<span class="f-med">D&eacute;bito Directo</span>
						</div>
					</div>

					<div class="infbar">
						<div class="container norel">
							<div class="halfbar f-little f-bold text-left vcenter">
								<div class="tabcell">
									Cuenta
								</div>
							</div>

							<div class="basicrow text-center">
								<select id="select-account" class="selln f-bold f-med f-black">
                            <% _.each(accounts, function(value, index) { %>
                                <option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
                                    <%= value.Account %>
                                </option>
                            <% }); %>
                        </select>
							</div>
						</div>
					</div>

					<div class="autobar diffr">
						<div class="container">
							<div class="basicrow f-little din-b f-black">
								Ahora Claro te brinda el servicio de D&eacute;bito Directo en el que podr&aacute;s afiliar tu pago de renta mensual para que se ejecute de manera autom&aacute;tica, as&iacute; no tendr&aacute;s que preocuparte por recordar tu fecha de facturaci&oacute;n
								y que tu servicio sea suspendido.
							</div>
						</div>
					</div>

					<div class="autobar diffr">
						<div class="container">
                            <div class="halfbar f-little f-bold text-left vcenter">
                                <div class="tabcell">
                                    Tipo de afiliaci&oacute;n
                                </div>
                            </div>
							<div class="basicrow">
								<select class="selln f-bold f-med f-black" name="debit_direct_type" id="debit_direct_type">
                                    <option value="">Seleccione</option>
                                    <option value="Creditcard" <%= typeDebitDirect=='Creditcard'?'selected="selected"':'' %>>Tarjeta de Cr&eacute;dito</option>
                                    <option value="Checking" <%= typeDebitDirect=='Checking'?'selected="selected"':'' %>>Cuenta de Cheques</option>
                                </select>
							</div>
						</div>
					</div>
					<% if(typeDebitDirect=="Creditcard"){ %>
                        <form id="form-payment-step-1">
						<div class="subtitle nbott din-b f-little text-center f-black vcenter">
							<div class="tabcell">
								DATOS DE LA TARJETA
							</div>
						</div>

						<div class="autobar diffr">
							<div class="container">
								<div class="basicrow">
									<input type="text" name="full_name" class="inpln f-bold f-reg f-black" maxlength="85" value="<%= (paymentData!= null)?paymentData.fullName:'' %>" placeholder="Nombres y apellidos">
								</div>

								<div class="basicrow m-top">
									<input type="text" id="credit-card" name="card_number" maxlength="19" class="inpln f-bold f-reg f-black" value="<%= (paymentData!= null)?paymentData.cardNumber:'' %>" placeholder="N&uacute;mero de tarjeta"  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
								</div>

								<div class="basicrow m-top">
									<div class="basicrow f-little din-b">
										Fecha de Vencimiento
									</div>

									<div class="basicrow">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<div class="basicrow">
													<select class="selln f-bold f-med f-black" name="card_expiration_month" id="card_expiration_month">
                                                        <option value="">Mes</option>
                                                            <% _.each(months, function(value, index) { %>
                                                                      <option value="<%= value %>" <%= (paymentData!= null && paymentData.cardExpirationDate.substring(0, 2)==value)?'selected':'' %>>
                                                                        <%= value %>
                                                                    </option>
                                                            <% }); %>
                                                    </select>
												</div>
											</div>

											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<div class="basicrow">
													<select class="selln f-bold f-med f-black" name="card_expiration_year" id="card_expiration_year">
                                                        <option value="">A&ntilde;o</option>
                                                        <% _.each(years, function(value, index) { %>
                                                            <option value="<%= value.slice(-2) %>" <%= (paymentData!= null && paymentData.cardExpirationDate.slice(-2)==value.slice(-2))?'selected':'' %>>
                                                                  <%= value %>
                                                            </option>
                                                        <% }); %>
                                                    </select>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="basicrow m-top">
									<input type="password" name="security_code" class="inpln f-bold f-reg f-black" value="<%= (paymentData!= null)?paymentData.securityCode:'' %>" placeholder="C&oacute;digo de Seguridad (CCV)" size="4" maxlength="4" pattern="[0-9]*">
								</div>
							</div>
						</div>
						<div class="autobar diff">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell" id="continue-1">
										Continuar
									</div>
								</div>

								<div class="g-btn text-center f-med f-white vcenter btn-back">
									<div class="tabcell">
										Cancelar
									</div>
								</div>
							</div>
						</div>
                        </form>
						<% } else if (typeDebitDirect=="Checking"){ %>
							<div class="subtitle nbott din-b f-little text-center f-black vcenter">
								<div class="tabcell">
									DATOS DE LA CUENTA
								</div>
							</div>
							<form id="form-account">
								<div class="autobar diffr">
									<div class="container">
										<div class="basicrow">
											<select class="selln f-bold f-med f-black" name="debit_direct_type" id="debit_direct_type">
                                    <option value="">Banco Popular</option>
                                </select>
										</div>
									</div>
									<div class="container">
										<div class="basicrow m-top">
											<input type="text" id="account-bank-number" name="account_bank_number" class="inpln f-bold f-reg f-black" value="" placeholder="N&uacute;mero de Cuenta" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
										</div>
									</div>
								</div>
							</form>
							<div class="autobar diff">
								<div class="container">
									<div class="r-btn text-center f-med f-white vcenter">
										<div class="tabcell">
											Continuar
										</div>
									</div>

									<div class="g-btn text-center f-med f-white vcenter btn-back">
										<div class="tabcell">
											Cancelar
										</div>
									</div>
								</div>
							</div>
							<% } %>
		</div>

		<% include footer %>

	</div>

</script>
