<script type="text/template" id="faq">

    <div id="wrapper">
        <div class="stopfoot-i">

            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">FAQ</span>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">&#191;Cu&#225;les son los beneficios de Registrarme al servicio de Mi Claro?</span><br/><br/>

                    Al registrarte al servicio Mi Claro, podr&#225;s manejar tu cuenta, ver tu factura electr&#243;nicamente, hacer pagos desde la comodidad de tu hogar u oficina, ver el consumo de datos, mensajes de texto y multimedios. Si tienes servicio m&#243;vil o fijo puedes ver el consumo de voz y ver tu plan actual. Adem&#225;s, tendr&#225;s tambi&#233;n la ventaja de poder ver tus facturas por cuenta, sin necesidad de papel, hasta las &#250;ltimas 13 facturas.  En fin, en Mi Claro podr&#225;s tener acceso a tus servicios sin tener que llamar para asistencia o visitar una tienda.
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">&#191;Qu&#233; informaci&#243;n necesito para registrarme?</span><br/><br/>

                    Para registrarte, necesitas tener a la mano tu n&#250;mero de tel&#233;fono m&#243;vil o fijo y el n&#250;mero de cuenta. El sistema te pedir&#225; tu direcci&#243;n de correo electr&#243;nico (e-mail),  en el que recibir&#225;s un mensaje con un enlace.  Una vez presiones el enlace tu cuenta se crear&#225; exitosamente.
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">&#191;Puedo registrarme en Mi Claro y efectuar los pagos por otro medio que no sea Internet?</span><br/><br/>

                    Solicitamos tu direcci&#243;n de correo electr&#243;nico para poder mantener contacto contigo, enviarte recibos digitales de los pagos efectuados a trav&#233;s de Mi Claro y para enviarte tu contrase&#241;a en caso de que la olvides.
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">&#191;Qu&#233; m&#233;todos de pago puedo utilizar en Mi Claro?</span><br/><br/>

                    Podr&#225; efectuar pagos mediante tarjetas de cr&#233;dito (Visa, MasterCard, o American Express), D&#233;bito Directo (cuenta de banco) o a trav&#233;s del servicio de ATH del Banco Popular.
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">&#191;Es seguro hacer pagos en l&#237;nea a trav&#233;s de este servicio?</span><br/><br/>

                    Estamos comprometidos en proteger tu informaci&#243;n y todas las gestiones que realices en Mi Claro. Estar&#225;s utilizando una conexi&#243;n segura que protege tu informaci&#243;n completamente. Los datos que proveas no podr&#225;n ser vistos por nadie en el Web. (Para detalles de nuestra pol&#237;tica de privacidad, acceda el enlace de Pol&#237;tica de Privacidad oprimiendo aqu&#237;).
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    <span class="f-bold">Si tengo varias cuentas &#191;c&#243;mo puedo realizar el pago de cada una?</span><br/><br/>

                    Los pagos se procesar&#225;n de forma individual para cada cuenta registrada.
                </div>
            </div>
        </div>

    </div>
    
</script>
