<script type="text/template" id="header">

	<div class="menubar">
		<div class="container rel">
			<div id="btn-menu" class="mc-logo mcenter">
				<span class="autocont vcenter">
					<span class="tabcell">
						<img width="100%" src="images/miclaro-logo.png">
					</span>
				</span>
			</div>

			<% if (showBackBth) { %>
			<div class="btn-back" id="btn-back">
				<img class="dispicon" width="100%" src="images/back.svg">
			</div>
			<% } else { %>
			<div class="autocont ntif f-reg roboto-m">
				<% if (false) { %>
				<div class="notifc">
					2
				</div>
				<% } %>
				<i id="notifications" class="fa fa-user" aria-hidden="true"></i>
			</div>
			<% } %>

			<div class="autorow pull-right visible-xs visible-sm">
				<div class="mnu-icon">
					<div class="autocont vcenter">
						<div class="tabcell">
							<i id="nav-open" class="fa fa-bars" aria-hidden="true"></i>

							<i id="nav-close" class="fa fa-times" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
    
</script>