<script type="text/template" id="help_pin">

    <!-- [INIT TOP CONTAINER] -->
    <div id="topcont">
        <div class="menucont gr-red vcenter">
            
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
                    </div>
            
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
                    </div>
            
            <div class="tabcell">
                <div class="menu-tittle text-center f-white din-b">
                    Ayuda
                </div>
            </div>
            
        </div>
    </div>
    <!-- [END TOP CONTAINER] -->

    <!-- [INIT WRAP] -->
    <div id="bodycont">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="basicrow">
                        
                        <div class="tabcont-b">
                            
                            <p class="basicrow text-justify">
                                El PIN que establezcas podr&aacute;s utilizarlo en caso de que te comuniques con Servicio al Cliente de Claro para cualquier gesti&oacute;n con tu cuenta de eBill.
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- [END WRAP] -->

    <%include footer%>

</script>