<script type="text/template" id="help_new_passw_profile">

    <!-- [INIT TOP CONTAINER] -->
    <div id="topcont">
        <div class="menucont gr-red vcenter">
        
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
            </div>
            
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
			</div>
            
            <div class="tabcell">
                <div class="menu-tittle text-center f-white din-b">
                    Ayuda
                </div>
            </div>
            
        </div>
    </div>
    <!-- [END TOP CONTAINER] -->

    <!-- [INIT WRAP] -->
    <div id="bodycont">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="basicrow">
                        
                        <div class="tabcont-b">
                            
                            <p class="basicrow text-justify">
                            	La Contrase&ntilde;a debe tener entre 8 y 10 caracteres, incluyendo un m&iacute;nimo de 2 n&uacute;meros y 2 letras, diferenciando entre m&aacute;yuscula y mun&uacute;sculas ("case sensitive"). No se puede repetir el mismo car&aacute;cter m&aacute;s de 4 veces consecutivas.
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- [END WRAP] -->

    <%include footer%>

</script>

    
</script>