<script type="text/template" id="help_pin_profile">

    <!-- [INIT TOP CONTAINER] -->
    <div id="topcont">
        <div class="menucont gr-red vcenter">
        
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
            </div>
            
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
			</div>
            
            <div class="tabcell">
                <div class="menu-tittle text-center f-white din-b">
                    Ayuda
                </div>
            </div>
            
        </div>
    </div>
    <!-- [END TOP CONTAINER] -->

    <!-- [INIT WRAP] -->
    <div id="bodycont">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="basicrow">
                        
                        <div class="tabcont-b">
                            
                            <p class="basicrow text-justify">
                            	El cambio de PIN de CSR solo es efectivo si llena los 2 campos provistos: pin y confirmaci&oacute;n, y presiona Guardar Cambios. Si no desea cambiar los dem&aacute;s campos de la p&aacute;gina, d&eacute;jelos en blanco pues la forma los ignorar&aacute;.
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- [END WRAP] -->

    <%include footer%>

</script>
  


    
</script>