<script type="text/template" id="help_email">
 
    <!-- [INIT TOP CONTAINER] -->
    <div id="topcont">
        <div class="menucont gr-red vcenter">
            
            <div class="btn-back" id="menu-icon-left">
                <img src="images/icon-back.png" width="100%;" alt="Back">
            </div>
            
            <div class="tabcell">
                <div class="menu-tittle text-center f-white din-b">
                    Ayuda
                </div>
            </div>
            
        </div>
    </div>
    <!-- [END TOP CONTAINER] -->
    
    <!-- [INIT WRAP] -->
    <div id="bodycont">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="basicrow">
                        
                        <div class="tabcont-b">
                            
                            <p class="basicrow text-justify">
                                Es importante que el correo electr&oacute;nico que introduzcas sea uno que utilizas a diario ya que el enlace al cual debes acceder para completar el registro ser&aacute; enviado a esa direcci&oacute;n.  Adem&aacute;s, cuando las notificaciones de factura est&eacute;n disponibles ser&aacute;n enviadas al mismo correo electr&oacute;nico.
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>			
        
    </div>
    <!-- [END WRAP] -->
    
    <%include footer%>
    
</script>