<script type="text/template" id="improvement">

    <div id="wrapper">
        <div class="stopfoot-i">

            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Sugerencias</span>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    Tu opini&oacute;n es valiosa para nosotros, envianos un mensaje.
                </div>
            </div>

            <%if(profiles==null){%>

                <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                    <div class="tabcell">
                        CORREO ELECTR&Oacute;NICO
                    </div>
                </div>

                <div class="autobar f-reg f-black diffr">
                    <div class="container">
                        <div class="basicrow">
                            <input type="email" name="email" id="email" class="inpln inf f-bold f-med f-black">
                        </div>
                    </div>
                </div>

            <% } %>

            <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                <div class="tabcell">
                    DETALLA TU COMENTARIO
                </div>
            </div>

            <div class="autobar f-reg f-black diffr">
                <div class="container">
                    <div class="basicrow">
                        <textarea class="cdef f-bold f-med f-black" id="improvement-comment" name="improvement_comment" maxlength="500"></textarea>
                    </div>
                </div>
            </div>

            <div class="autobar diff" id="send-improvement">
                <div class="container">
                    <div class="r-btn text-center f-med f-white vcenter">
                        <div class="tabcell">
                            Enviar
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</script>
