<script type="text/template" id="invoice_download">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-01"></span> Descarga tu Factura
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott n-mtop">
				<div class="container">
					<div class="basicrow">
						<div class="def-filtrs">
							<select class="sel-f-i def-i">
								<option>Nro de Suscriptor</option>
							</select>

							<div class="autorow pull-left m-right f-reg m-top-u-iii">
								<i class="fa fa-calendar filtr-calendar" aria-hidden="true"></i>

								<span class="f-gray-ii roboto-b">Enero 01, 2018 - Enero 23 2018</span>
							</div>

							<a href="#" class="btns def-i red pull-right vcenter m-left-i h-mtop">
									<span class="tabcell">
										Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
									</span>
							</a>

							<a href="#" class="btns def-i blue pull-right vcenter h-mtop-ii">
									<span class="tabcell">
										<i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Imprimir
									</span>
							</a>
						</div>
					</div>

					<div class="basicrow">
						<div class="basicrow m-top-i">
							<div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
								Factura Actual
							</div>

							<div class="autorow leftchange">
								<a href="#" class="tablepages off vcenter">
										<span class="tabcell">
											&lt;&lt;
										</span>
								</a>

								<a href="#" class="tablepages off vcenter">
										<span class="tabcell">
											&lt;
										</span>
								</a>

								<a href="#" class="tablepages on vcenter">
										<span class="tabcell">
											1
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											2
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											3
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											&gt;
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											&gt;&gt;
										</span>
								</a>
							</div>
						</div>

						<!-- [INIT TABLA WEB] -->
						<div class="basicrow m-top hidden-xs">
							<div class="boxtbl">
								<div class="tab-tbar">
									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Fecha de Facturaci&oacute;n
										</div>
									</div>

									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Vencimiento
										</div>
									</div>

									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Cantidad
										</div>
									</div>

									<div class="frwds dscgaf-ii vcenter">
										<div class="tabcell">
											Ver Como
										</div>
									</div>
								</div>

								<div class="basicrow">
									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-cbar bg-gray">
										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												10/10/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												11/07/2018
											</div>
										</div>

										<div class="frwds dscgaf-i rline vcenter">
											<div class="tabcell">
												&#36;339.93
											</div>
										</div>

										<div class="frwds dscgaf-ii vcenter">
											<div class="tabcell">
												<div class="actbtn">
													<i class="fa fa-file-text" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [END TABLA WEB] -->


						<!-- [INIT TABLA MOVIL] -->
						<div class="basicrow m-top visible-xs">
							<div class="basicrow mbott-i">
								<div id="myCarousel5" class="carousel slide" data-interval="false" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel5" data-slide-to="1"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Fecha de Facturaci&oacute;n
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Vencimiento
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/10/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																11/07/2018
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="item">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Cantidad
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Ver Como
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																&#36;339.93
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<div class="actbtn">
																	<i class="fa fa-file-text" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [END TABLA MOVIL] -->

						<div class="basicrow m-top allpads bordsdef f-reg roboto-r f-black text-justify">
							<span class="roboto-b">Servicio al Cliente</span><br/><br/>
							Escr&iacute;banos por nuestro Chat para recibir asesor&iacute;a inmediata. Individual: <span class="roboto-b">787-775-0000</span> &oacute; marcando <span class="roboto-b">&#42;611</span> desde tu tel&eacute;fono celular.
						</div>

						<div class="basicrow m-top-i bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
							<span class="roboto-b">Hist&oacute;rico de facturas</span><br/><br/>
							El hist&oacute;rico de facturas le permite ver hasta sus &uacute;ltimas trece (13) facturas. Para revisarlas s&oacute;lo se necesita seleccionar el formato en que desea ver la factura bajo la columna <span class="roboto-b">Ver Como</span> y oprimir el bot&oacute;n. Cabe se&ntilde;alar que s&oacute;lo se desplegar&aacute;n las primeras quinientas (500) p&aacute;ginas de la factura, cuando aplique. Si desea revisar la factura completa, debe comunicarse con <a href="#" class="linkdefs">Servicio al Cliente.</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
