<script type="text/template" id="invoice">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-14"></span> Administra tu Factura
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow roboto-r f-big f-black">
						Factura Actual
					</div>

					<div class="basicrow bordsdef f-reg f-black roboto-r m-top">
						<div class="basicrow allpads">
							<div class="basicrow">
								<div class="autorow pull-left factdef roboto-b">
									Fecha de Facturaci&oacute;n
								</div>

								<div class="autorow pull-right factdef roboto-b">
									<%= accountInfo.billDateField %>
								</div>
							</div>

							<div class="basicrow m-top-ii">
								<div class="autorow pull-left factdef roboto-b">
									Fecha de Vencimiento
								</div>

								<div class="autorow pull-right factdef roboto-b">
									<%= accountInfo.billDueDateField %>
								</div>
							</div>

							<div class="basicrow m-top">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top">
								<div class="autorow pull-left factdef roboto-b">
									Balance Pendiente
								</div>

								<div id="pending_balance" class="autorow pull-right factdef roboto-b f-red">
									&#36;<%= amountDue %>
								</div>
							</div>
						</div>

						<div class="basicrow">
							<div class="basicrow graybg-i allpads topbord-i">
								<div class="autorow pull-left factdef roboto-r">
									Ciclo de Facturaci&oacute;n
								</div>

								<div class="autorow pull-right factdef roboto-b">
									<%= accountInfo.cycleDateField %>
								</div>
							</div>

							<!--<div class="basicrow graybg-i allpads">-->
								<!--<div class="autorow pull-left factdef roboto-r">-->
									<!--Fecha de Corte-->
								<!--</div>-->

								<!--<div class="autorow pull-right factdef roboto-b">-->
									<!--05/12/2017-->
								<!--</div>-->
							<!--</div>-->

							<div class="basicrow allpads">
								<div class="autorow pull-left factdef roboto-r">
									&Uacute;ltimo Pago
								</div>

								<div class="autorow pull-right factdef roboto-b">
									&#36;<%= latPaymentAmount %>
								</div>
							</div>
						</div>

						<div class="basicrow graybg-i allpads topbord-i">
							<div class="autorow m-top-u pull-left factdef roboto-b f-big">
								Monto a Pagar
							</div>

							<div class="autorow pull-right factdef f-red roboto-m f-semi">
								&#36;<%= amountPayable %>
							</div>
						</div>
					</div>

					<div class="basicrow m-top-ii">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-ii">
								<div class="btns red vcenter rippleR">
									<span class="tabcell" id="btn-bill">
										Paga tu Factura Aqu&iacute;
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-ii">
								<div class="btns red vcenter rippleR">
									<span class="tabcell">
										Pagos Autom&aacute;ticos de Factura
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="basicrow m-top-u-i">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-ii">
								<div class="btns blue vcenter rippleB">
									<span class="tabcell">
										Detalle de Factura
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-ii" id="btn-view">
								<div class="btns blue vcenter rippleB">
									<span class="tabcell">
										Descarga tu Factura
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-ii">
								<div class="btns blue vcenter rippleB">
									<span class="tabcell">
										Hist&oacute;rico de Pagos
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-ii">
								<div class="btns blue vcenter rippleB">
									<span class="tabcell">
										D&eacute;bito Directo
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script>