<script type="text/template" id="my_consumption">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="acctypescont text-center">
					<div class="acctype on">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/postpaid-icon.png"> Postpago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/prepaid-icon.png"> Prepago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/fixedphone-icon.png"> Telefon&iacute;a Fija
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-18"></span> Mi Consumo
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel">
								<option>1727704700</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow mbott">
						<div class="difftabs">
							<div class="difft-def half on">
								Detalle de Consumos de Datos
							</div>

							<div class="difft-def half">
								Consumo de Voz y Mensajer&iacute;a
							</div>
						</div>
					</div>

					<div class="autowcont m-top-ii">
						<div class="basicrow msidespad">
							<div class="b-title lessdate">
								<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
									<div class="tabcell">
										Ciclo de Facturaci&oacute;n
									</div>
								</div>

								<div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
									<div class="tabcell">
										Oct 18 a Nov 2017
									</div>
								</div>
							</div>

							<div class="basicrow m-top-ii mbott">
								<div class="difftabs">
									<div class="difft-def thrds on">
										Plan Base
									</div>

									<div class="difft-def thrds">
										Roaming
									</div>

									<div class="difft-def thrds">
										Paquetes Adicionales
									</div>
								</div>
							</div>


							<div class="basicrow m-bott">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center">
										<img width="65%" height="auto" src="images/graphconsumpt.jpg">
									</div>

									<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
										<div class="basicrow">
											<div class="userinfo full">
												<div class="basicrow">
													<div class="basicrow f-bmed roboto-b m-bott">
														Detalle del Plan
													</div>

													<div class="redstat">
														<div class="autorow roboto-r pull-left">
															Plan Base
														</div>

														<div class="autorow roboto-b pull-right">
															IM ILIMITADO PUJ 5GB PR
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="autorow roboto-r pull-left">
															Has consumido
														</div>

														<div class="autorow roboto-b pull-right">
															<span class="f-red">0.93 GB</span> de 4.50 GB
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow m-top">
											<div class="logline full"></div>
										</div>

										<div class="basicrow m-top-ii">
											<div class="twostats">
												<div class="statrectdef redstat"></div>

												<div class="autocont f-mini roboto-r f-black vcenter">
													<div class="tabcell">
														Consumidos (0.93 GB)
													</div>
												</div>
											</div>

											<div class="twostats">
												<div class="statrectdef graystat"></div>

												<div class="autocont f-mini roboto-r f-black vcenter">
													<div class="tabcell">
														Disponibles (4.50 GB)
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer_rights %>

	</div>

</script>
