<script type="text/template" id="my_order">

	<div id="wrapper">
		<div class="stopfoot">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mis Ordenes</span>
				</div>
			</div>



			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black m-top vcenter">
				<div class="tabcell">
					ORDENES
				</div>
			</div>
            
            <div class="lineb">
            <% _.each(subscribers, function(value, index) { %>
                      <!-- [INIT ORDEN DE EJEMPLO] -->
                      <div class="basicrow">
                      <div class="c-ftitle">
                      <div class="c-frst din-b vcenter">
                      <div class="tabcell">
                      Suscriptor
                      </div>
                      </div>
                      
                      <div class="c-scnd din-b vcenter">
                      <div class="tabcell">
                      Producto
                      </div>
                      </div>
                      
                      <div class="c-thrd din-b vcenter">
                      <div class="tabcell">
                      Descripci&oacute;n
                      </div>
                      </div>
                      </div>
                      
                      <div class="c-cont">
                      <div class="c-frst-u din-b vcenter">
                      <div class="tabcell">
                      <%= value.subscriber %>
                      </div>
                      </div>
                      
                      <div class="c-side">
                      <div class="basicrow b-bord">
                      <div class="c-half-i">
                      <div class="basicrow full-h vcenter">
                      <div class="tabcell">
                      Paquetes de datos a adicionales
                      </div>
                      </div>
                      </div>
                      
                      <div class="c-half-i nob">
                      <div class="basicrow din-b full-h vcenter">
                      <div class="tabcell">
                      Booster 250MB
                      </div>
                      </div>
                      </div>
                      </div>
                      
                      <div class="basicrow b-bord">
                      <div class="c-half-ii din-b">
                      <div class="basicrow full-h vcenter">
                      <div class="tabcell">
                      Costo
                      </div>
                      </div>
                      </div>
                      
                      <div class="c-half-ii din-b">
                      <div class="basicrow din-b full-h vcenter">
                      <div class="tabcell">
                      Recurrencia Automatica
                      </div>
                      </div>
                      </div>
                      </div>
                      
                      <div class="basicrow b-bord">
                      <div class="c-half-i">
                      <div class="basicrow f-red din-b f-reg full-h vcenter">
                      <div class="tabcell">
                      $4.99
                      </div>
                      </div>
                      </div>
                      
                      <div class="c-half-i nob">
                      <div class="basicrow din-b full-h vcenter">
                      <div class="tabcell">
                      <input data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id=<%= value.subscriber %> class="notification-switch" checked="false">
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      <!-- [END ORDEN DE EJEMPLO] -->
                      
                                  <% }); %>
            </div>
		</div>

		<% include footer %>

	</div>

</script>
