<script type="text/template" id="my_orders">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="acctypescont text-center">
					<div class="acctype on">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/postpaid-icon.png"> Postpago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/prepaid-icon.png"> Prepago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/fixedphone-icon.png"> Telefon&iacute;a Fija
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-04"></span> Mis Ordenes
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel">
								<option>1727704700</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott">
				<div class="container">
					<div class="basicrow m-top-i">
						<div class="suscriptbar">
							Suscriptor: <span class="roboto-b">0000000001</span>
						</div>

						<div class="boxtbl">
							<div class="tab-tbar">
								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Producto
									</div>
								</div>

								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Descripci&oacute;n
									</div>
								</div>

								<div class="frwds frths trds vcenter">
									<div class="tabcell">
										Costo
									</div>
								</div>
							</div>

							<div class="basicrow">
								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>

								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>

								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>

								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>

								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="recauto">
							<div class="basicrow roboto-b f-black">
								Recurrencia Autom&aacute;tica
							</div>

							<div class="basicrow m-top-u">
								<label class="switch">
									<input type="checkbox">
									<span class="slider"></span>
								</label>
							</div>
						</div>
					</div>

					<div class="basicrow m-top-i">
						<div class="suscriptbar">
							Suscriptor: <span class="roboto-b">0000000002</span>
						</div>

						<div class="boxtbl">
							<div class="tab-tbar">
								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Producto
									</div>
								</div>

								<div class="frwds frths rline trds vcenter">
									<div class="tabcell">
										Descripci&oacute;n
									</div>
								</div>

								<div class="frwds frths trds vcenter">
									<div class="tabcell">
										Costo
									</div>
								</div>
							</div>

							<div class="basicrow">
								<div class="tab-cbar topgbrd">
									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Paquete de Datos
										</div>
									</div>

									<div class="frwds trds rline vcenter">
										<div class="tabcell">
											Pquete. Adic. Recurrente 250MB
										</div>
									</div>

									<div class="frwds trds vcenter">
										<div class="tabcell">
												<span class="roboto-b">
													&#36;4.99
												</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="recauto">
							<div class="basicrow roboto-b f-black">
								Recurrencia Autom&aacute;tica
							</div>

							<div class="basicrow m-top-u">
								<label class="switch">
									<input type="checkbox">
									<span class="slider"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer_rights %>

	</div>

</script>
