<script type="text/template" id="my_services">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="acctypescont text-center">
					<div class="acctype on">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/postpaid-icon.png"> Postpago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/prepaid-icon.png"> Prepago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/fixedphone-icon.png"> Telefon&iacute;a Fija
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-25"></span> Mis Servicios
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel">
								<option>1727704700</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow mbott">
						<div class="difftabs">
							<div class="difft-def half on">
								Detalle de Tu Plan
							</div>

							<div class="difft-def half">
								Consulta tu equipo
							</div>
						</div>
					</div>

					<div class="autowcont notopbrd m-top-ii">
						<div data-toggle="collapse" data-target="#mserv1" class="digs-box vcenter">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l">M&Oacute;VIL</span> <span class="roboto-m">(787) 123-0000</span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="mserv1" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicr-line f-big">
									Plan
								</div>

								<div class="basicrow m-top-i">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="userinfo full nomtops">
												<div class="basicrow m-bott">
													<div class="basicrow f-bmed roboto-b m-bott">
														Detalle del Plan
													</div>

													<div class="redstat">
														<div class="autorow roboto-r pull-left">
															Plan Actual
														</div>

														<div class="autorow roboto-b pull-right">
															&#36;30
														</div>
													</div>
												</div>

												<div class="basicrow m-top-ii">
													<div class="basicrow f-reg roboto-b m-bott">
														Descripci&oacute;n del Plan:
													</div>

													<div class="redstat">
														<div class="basicrow roboto-r">
															Voz
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Mensajes
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															LDI Ilimitado a USA
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Roaming
														</div>
													</div>

													<div class="redstat m-top-ii">
														<div class="basicrow roboto-r">
															Data en PR &#38; USA con PUJ de 5GB
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
											<div class="basicrow">
												<div class="userinfo full">
													<div class="basicrow">
														<div class="basicrow f-bmed roboto-b m-bott">
															Detalle del Plan
														</div>

														<div class="redstat">
															<div class="autorow roboto-r pull-left">
																IPH 7 32 GB
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;18.05
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																Pagos restantes de Equipo
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;12.00
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="basicrow m-top-i lessm-i">
												<div class="userinfo full">
													<div class="basicrow">
														<div class="basicrow f-bmed roboto-b m-bott">
															Servicios Adicionales
														</div>

														<div class="redstat">
															<div class="autorow roboto-r pull-left">
																High PDA
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;11.99
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																CeluHogar
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;4.95
															</div>
														</div>

														<div class="redstat m-top-ii">
															<div class="autorow roboto-r pull-left">
																Serv. Asist. Carretera
															</div>

															<div class="autorow roboto-b pull-right">
																&#36;3.95
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="basicrow m-top-i">
									<div class="logline full"></div>

									<div class="basicrow m-top text-center">
										<div class="servs-monthly">
											<div class="basicrow">
													<span class="roboto-b">
														Renta Mensual
													</span><br/>

												<span class="f-red f-semi roboto-m">
														&#36;68.94
													</span>
											</div>

											<div class="basicrow m-top-ii">
												<div class="btns red vcenter rippleR">
													<span class="tabcell">
														Cambiar de Plan&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer_rights %>

	</div>

</script>
