<script type="text/template" id="navmenu">

	<div id="mySidenav" class="sidenav appnav">


		<% _.each(accountSections, function(section, index) { %>

		<% if (section.Pages.length > 1) { %>

		<div data-toggle="collapse" data-target="#section<%= index %>" class="m-menubar vcenter" id="section-head<%= index %>">
			<span class="tabcell">
				<%= section.sectionName %>

				<i class="fa fa-plus" aria-hidden="true"></i>

				<i class="fa fa-minus" aria-hidden="true"></i>
			</span>
		</div>

		<div id="section<%= index %>" class="collapse">

			<% _.each(section.Pages, function(page, index) { %>

			<div class="m-menuin vcenter" id="nav-access<%= page.accessID %>">
				<span class="tabcell">
					<%= page.pageName %> <i class="fa <%= page.accessID == 8 ? 'fa-times-circle' : 'fa-angle-right' %>" aria-hidden="true"></i>
				</span>
			</div>

			<% }); %>

		</div>

		<% } else { %>

		<div class="m-menubar vcenter" id="nav-access<%= section.Pages[0].accessID %>">
			<span class="tabcell">
				<%=  section.Pages[0].pageName %> <i class="fa fa-angle-right" aria-hidden="true"></i>
			</span>
		</div>

		<% } %>

		<% }); %>


		<!--<div data-toggle="collapse" data-target="#postpaid1" class="m-menubar vcenter" id="postpaid1-head">-->
			<!--<span class="tabcell">-->
				<!--Facturas y Pagos-->

				<!--<i class="fa fa-plus" aria-hidden="true"></i>-->

				<!--<i class="fa fa-minus" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div id="postpaid1" class="collapse">-->
			<!--<div class="m-menuin vcenter" id="nav-invoice-summary">-->
				<!--<span class="tabcell">-->
					<!--Resumen de Factura <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-invoice-download">-->
				<!--<span class="tabcell">-->
					<!--Descarga tu Factura <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Detalle de Factura <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-payment-history">-->
				<!--<span class="tabcell">-->
					<!--Hist&oacute;rico de Pagos <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin lastlink vcenter" id="nav-electronic-bill">-->
				<!--<span class="tabcell">-->
					<!--Factura Digital <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div data-toggle="collapse" data-target="#postpaid2" class="m-menubar vcenter" id="postpaid2-head">-->
			<!--<span class="tabcell">-->
				<!--Mi Consumo-->

				<!--<i class="fa fa-plus" aria-hidden="true"></i>-->

				<!--<i class="fa fa-minus" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div id="postpaid2" class="collapse">-->
			<!--<div class="m-menuin vcenter" id="nav-consumption-data">-->
				<!--<span class="tabcell">-->
					<!--Detalle de Consumos <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin lastlink vcenter" id="nav-consumption-calls">-->
				<!--<span class="tabcell">-->
					<!--Detalle de Llamadas <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div data-toggle="collapse" data-target="#postpaid3" class="m-menubar vcenter" id="postpaid3-head">-->
			<!--<span class="tabcell">-->
				<!--Mis Equipos y Servicios-->

				<!--<i class="fa fa-plus" aria-hidden="true"></i>-->

				<!--<i class="fa fa-minus" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div id="postpaid3" class="collapse">-->
			<!--<div class="m-menuin vcenter" id="nav-my-services">-->
				<!--<span class="tabcell">-->
					<!--Detalle de Tu Equipo y Plan <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-change-plan">-->
				<!--<span class="tabcell">-->
					<!--Cambio de Plan <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-netflix">-->
				<!--<span class="tabcell">-->
					<!--Netflix <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin lastlink vcenter" id="nav-referrer" >-->
				<!--<span class="tabcell">-->
					<!--Programa de Referidos <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div data-toggle="collapse" data-target="#postpaid4" class="m-menubar vcenter" id="postpaid4-head">-->
			<!--<span class="tabcell">-->
				<!--Compras-->

				<!--<i class="fa fa-plus" aria-hidden="true"></i>-->

				<!--<i class="fa fa-minus" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div id="postpaid4" class="collapse">-->
			<!--<div class="m-menuin vcenter" id="nav-purchases">-->
				<!--<span class="tabcell">-->
					<!--Compras <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Equipos <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-purchase-data">-->
				<!--<span class="tabcell">-->
					<!--Compra de Data Adicional <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Compra de Servicios de Valor Agregado <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Mis Ordenes <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-my-orders">-->
				<!--<span class="tabcell">-->
					<!--Regala 1 GB <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin lastlink vcenter">-->
				<!--<span class="tabcell">-->
					<!--Regala 1 Recarga <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="m-menubar vcenter" id="nav-interruption">-->
			<!--<span class="tabcell">-->
				<!--Reporta Interrupci&oacute;n <i class="fa fa-angle-right" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div data-toggle="collapse" data-target="#postpaid5" class="m-menubar important vcenter" id="postpaid5-head">-->
			<!--<span class="tabcell">-->
				<!--Mi Cuenta-->

				<!--<i class="fa fa-plus" aria-hidden="true"></i>-->

				<!--<i class="fa fa-minus" aria-hidden="true"></i>-->
			<!--</span>-->
		<!--</div>-->

		<!--<div id="postpaid5" class="collapse">-->
			<!--<div class="m-menuin vcenter" id="nav-notifications">-->
				<!--<span class="tabcell">-->
					<!--Tus Notificaciones <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-accounts-manage">-->
				<!--<span class="tabcell">-->
					<!--Mi Perfil <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Agregar Cuenta <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Cambiar Contrase&ntilde;a <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Actualiza tu Correo Electr&oacute;nico <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter">-->
				<!--<span class="tabcell">-->
					<!--Preferencia de Notificaciones <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div class="m-menuin vcenter" id="nav-support">-->
				<!--<span class="tabcell">-->
					<!--Soporte <i class="fa fa-angle-right" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->

			<!--<div id="nav-exit" class="m-menuin lastlink vcenter">-->
				<!--<span class="tabcell">-->
					<!--Cerrar Sesi&oacute;n <i class="fa fa-times-circle" aria-hidden="true"></i>-->
				<!--</span>-->
			<!--</div>-->
		<!--</div>-->
	</div>

</script>
