<script type="text/template" id="netflix">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-27"></span> Netflix
						</div>
					</div>
				</div>

				<div class="basicrow m-top">
					<div class="container" id="subscription">
						<a><img width="100%" src="images/banner-netflix-21.jpg"></a>
					</div>
				</div>

				<div class="basicrow m-top lessm">
					<div class="container">
						<div class="basicrow m-top-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 roboto-l f-black text-justify">
									<span class="f-big less-f">&#191;Qu&eacute; es el Servicio Netflix&#63;</span><br/><br/>
									<span class="f-reg-i f-mgray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center h-mtop">
									<img width="100%" src="images/netfix-stock.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow graybg">
					<div class="container">
						<div class="basicrow m-top-i m-bott">
							<div class="basicrow text-center f-black f-btitle">
								Aclaramos Todas tus Dudas
							</div>

							<div class="basicrow m-top-ii">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3">
										<div class="btns blue vcenter rippleB" id="support">
											<span class="tabcell">
												Ir a Soporte de Netflix&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
