<script type="text/template" id="netflix_subscription">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top mbott">
				<div class="container">
					<div class="basicrow">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
						</div>
					</div>

					<div class="autowcont m-top-ii">
						<div class="basicrow msidespad m-bott-i">
							<div class="b-title">
								<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
									<div class="tabcell">
										Agregar Servicio Netflix
									</div>
								</div>
							</div>

							<div class="basicrow f-reg roboto-r f-black">
								Seleccione el n&uacute;mero de cuenta y de tel&eacute;fono donde desea agregar el Servicio Netflix:
							</div>

							<div class="basicrow m-top-ii">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="optchoice grayb on auto roboto-r text-left">
											<div class="checkdef">
												<input type="radio" name="radioG1" id="radioG1" class="css-radio" checked><label for="radioG1" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow f-bmed roboto-r">BAN <span class="roboto-b">000000001</span></div>
										</div>

										<div class="netflxaccs">
											<div class="optchoice auto roboto-r text-left">
												<div class="checkdef">
													<input type="radio" name="netflx1" id="netflx1_1" class="css-radio"><label for="netflx1_1" class="css-label3 radGroup1"></label>
												</div>

												<div class="basicrow f-reg roboto-b">
													Suscriptor<br/>
													<span class="f-red f-bmed">000000001</span>
												</div>
											</div>

											<div class="optchoice auto roboto-r text-left">
												<div class="checkdef">
													<input type="radio" name="netflx1" id="netflx1_2" class="css-radio"><label for="netflx1_2" class="css-label3 radGroup1"></label>
												</div>

												<div class="basicrow f-reg roboto-b">
													Suscriptor<br/>
													<span class="f-red f-bmed">000000002</span>
												</div>
											</div>

											<div class="optchoice auto roboto-r text-left">
												<div class="checkdef">
													<input type="radio" name="netflx1" id="netflx1_3" class="css-radio"><label for="netflx1_3" class="css-label3 radGroup1"></label>
												</div>

												<div class="basicrow f-reg roboto-b">
													Suscriptor<br/>
													<span class="f-red f-bmed">000000003</span>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="optchoice grayb auto roboto-r text-left">
											<div class="checkdef">
												<input type="radio" name="radioG2" id="radioG2" class="css-radio"><label for="radioG2" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow f-bmed roboto-r">BAN <span class="roboto-b">000000002</span></div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="optchoice grayb auto roboto-r text-left">
											<div class="checkdef">
												<input type="radio" name="radioG3" id="radioG3" class="css-radio"><label for="radioG3" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow f-bmed roboto-r">BAN <span class="roboto-b">000000003</span></div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="optchoice grayb auto roboto-r text-left">
											<div class="checkdef">
												<input type="radio" name="radioG4" id="radioG4" class="css-radio"><label for="radioG4" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow f-bmed roboto-r">BAN <span class="roboto-b">000000004</span></div>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow">
								<div class="basicrow m-top-i">
									<div class="logline full"></div>
								</div>

								<div class="basicrow text-center m-top">
									<div class="btns def-i red pull-right vcenter rippleR">
											<span class="tabcell">
												Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
											</span>
									</div>

									<div class="btns def-i gray pull-left vcenter">
										<span class="tabcell">
											Cancelar
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
