<script type="text/template" id="no_product_associated">

	<div id="wrapper" class="appsize">

		<div class="stopfoot-i">

			<% include header %>

			<% if (showName) { %>
			<div class="basicrow m-top-ii m-bott-i f-black f-lsemi roboto-l visible-sm visible-xs">
				<div class="container">
					Hola <%= name %>
				</div>
			</div>
			<% } %>

			<% include tabs %>

			<div class="basicrow mbott">
				<div class="container">
					<div class="basicrow m-top-i roboto-r text-center">
						<div class="shortcont">
							<div class="basicrow f-black text-center noacc-icon">
								<i class="fa fa-frown-o" aria-hidden="true"></i>
							</div>

							<div class="basicrow f-reg f-black m-top-ii roboto-b text-center">
								No tienes productos Claro en este segmento.
							</div>

							<div class="basicrow m-top-i">
								<div class="btns red ascbtn-i centr vcenter rippleR">
									<span class="tabcell">
										Agrega tus Productos Claro Aquí&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
