<script type="text/template" id="notifications_app">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow mbott">
				<div class="container">
					<div class="fulltitle m-top-i f-btitle">
						<span class="icon-dash-12"></span> Tus Notificaciones
					</div>

					<div class="basicrow">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<div class="autowcont m-top-i">
									<div class="basicrow msidespad">
										<div class="b-title">
											<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
												<div class="tabcell">
													Lorem Ipsum
												</div>
											</div>
										</div>

										<div class="basicrow m-bott-i">
											<div class="basicrow">
												Dolor sit amet, consectetur adipiscing elit lit dolor sit amet adipiscing elit dolor sit amet, consectetur adipiscing elit dolor sit amet.
											</div>

											<div class="basicrow roboto-b m-top-u-ii f-bgray">
												2018-07-12 17:19:04
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</script>
