<script type="text/template" id="order_summary">
		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						Planes de Data Adicional
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">

							<div class="tabcont-c border-b f-graydark-i din-b text-center">
								RESUMEN DE ORDEN
							</div>

							<div class="tabcont-e border-b din-b f-red">
								ORDEN DE COMPRA
							</div>

							<div class="tabcont-b border-b">
								<div class="gray-textcon">
									<div class="basicrow">
										<span class="basicrow">Cuenta:  690312939</span>
										<span class="basicrow">Producto: Paquete de data adicional de 1 GB</span>
										<span class="basicrow">Monto:  $40.00</span>
									</div>
								</div>
							</div>

							<div class="tabcont-b border-b">
								<div class="basicrow">
									¿Est&aacute;s seguro que quieres agregar este Plan?
								</div>
								
								<div class="basicrow">
									<div class="device-info">
										<input type="checkbox" name="" value=""> si
									</div>

									<div class="device-info side-inpad">
										<input type="checkbox" name="" value=""> no
									</div>
								</div>
							</div>

							<div class="tabcont-b border-b">
								<div class="basicrow">
									<div class="device-info">
										<input type="checkbox" name="" value=""> Acepto T&eacute;rminos y Condiciones
									</div>

									<div class="tab-arrow">
										<img src="images/tab-arrow.png" width="100%" alt="">
									</div>
								</div>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-red text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/arrow-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-white">
										Comprar
									</div>
								</a>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-gray text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/ex-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-gray">
										Cancelar
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>			
			
		</div>
		<!-- [END WRAP] -->

		<%include footer%>

</script>