<script type="text/template" id="password_step_5">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									&#191;Olvidaste tu contrase&ntilde;a&#63;
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								La contraseña de acceso es la clave con la que podrás acceder a manejar tu cuenta de servicios en Claro.
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="password" type="password" placeholder="Nueva Contrase&ntilde;a" class="inp-f">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="password_repeat" type="password" placeholder="Confirmar Contrase&ntilde;a" class="inp-f">
								</div>
							</div>

							<div class="basicrow f-black m-top roboto-r">
								<div class="basicrow f-lmini roboto-b">
									Requerimientos de contrase&ntilde;a:
								</div>

								<div class="basicrow">
									<ul class="redb">
										<li id="p1">Debe tener entre 8 y 15 caracteres</li>

										<li id="p2">Al menos una letra min&uacute;scula</li>

										<li id="p3">Al menos una letra may&uacute;scula</li>

										<li id="p4">Al menos 2 n&uacute;meros</li>

										<li id="p5">No est&aacute; permitido ning&uacute;n car&aacute;cter especial o no alfanum&eacute;rico</li>

										<li id="p6">Las contrase&ntilde;as deben coincidir</li>
									</ul>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-validate" class="btns vcenter gray">
									<div class="tabcell">
										Continuar
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>