<script type="text/template" id="payment_history">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-01"></span> Historico de pagos
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott n-mtop">
				<div class="container">
					<div class="basicrow m-top allpads bordsdef f-reg roboto-r f-black text-justify">
						Si su pago aparece en estado de <span class="roboto-b">iniciado</span> o <span class="roboto-b">procesado</span>, su pago est&aacute; siendo procesado por nuestro sistema e instituci&oacute;n bancaria. De su pago no ser procesado exitosamente por el banco o nuestro sistema, el mismo ser&aacute; eliminado de nuestro sistema autom&aacute;ticamente. Esta lista s&oacute;lo contiene pagos efectuados los &uacute;ltimos 13 meses.
					</div>

					<div class="basicrow">
						<div class="def-filtrs">
							<select class="sel-f-i def-i">
								<option>Nro de Suscriptor</option>
							</select>

							<div class="autorow pull-left m-right f-reg m-top-u-iii">
								<i class="fa fa-calendar filtr-calendar" aria-hidden="true"></i>

								<span class="f-gray-ii roboto-b">Enero 01, 2018 - Enero 23 2018</span>
							</div>

							<div class="btns def-i red pull-right vcenter m-left-i h-mtop rippleR">
								<span class="tabcell">
									Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</div>

							<div class="btns def-i blue pull-right vcenter h-mtop-ii rippleB">
								<span class="tabcell">
									<i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Imprimir
								</span>
							</div>
						</div>
					</div>

					<div class="basicrow">
						<div class="basicrow m-top-i">
							<div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
								Factura Actual
							</div>

							<div class="autorow leftchange">
								<div class="tablepages off vcenter">
									<span class="tabcell">
										&lt;&lt;
									</span>
								</div>

								<div class="tablepages off vcenter">
										<span class="tabcell">
											&lt;
										</span>
								</div>

								<div class="tablepages on vcenter">
										<span class="tabcell">
											1
										</span>
								</div>

								<div class="tablepages vcenter">
										<span class="tabcell">
											2
										</span>
								</div>

								<div class="tablepages vcenter">
										<span class="tabcell">
											3
										</span>
								</div>

								<div class="tablepages vcenter">
										<span class="tabcell">
											&gt;
										</span>
								</div>

								<div class="tablepages vcenter">
										<span class="tabcell">
											&gt;&gt;
										</span>
								</div>
							</div>
						</div>

						<!-- [INIT TABLA MOVIL] -->
						<div class="basicrow m-top visible-xs">
							<div class="basicrow mbott-i">
								<div id="myCarousel5" class="carousel slide" data-interval="false" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel5" data-slide-to="1"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Fecha de Facturaci&oacute;n
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															M&eacute;todo
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																10/13/2018
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																Tarjeta de Cr&eacute;dito
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="item">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Status
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Cantidad
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																Procesado
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																<span class="roboto-b">
																	&#36;167.30
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [END TABLA MOVIL] -->
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
