<script type="text/template" id="payment_step_2">
    <div id="wrapper">
        <div class="stopfoot-i">

            <% include header %>

            <% include navmenu %>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Mis Equipos</span>
                </div>
            </div>

            <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                <div class="tabcell">
                    RESUMEN DE ORDEN DE COMPRA
                </div>
            </div>

            <div class="infbar">
                <div class="container norel">
                    <div class="halfbar f-little f-bold text-left vcenter">
                        <div class="tabcell">
                            Cuenta
                        </div>
                    </div>

                    <div class="halfbar f-reg f-bold f-black text-right vcenter">
                        <div class="tabcell">
                            <%= selectedAccountValue %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow f-little din-b f-gray">Producto</div>

                    <div class="basicrow m-top-ii">
                        <div class="contspace full f-med f-black text-justify f-bold">
                            <%= selectedOffer.displayName %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="infbar">
                <div class="container norel">
                    <div class="halfbar f-little f-bold text-left vcenter">
                        <div class="tabcell">
                            Monto
                        </div>
                    </div>

                    <div class="halfbar f-reg f-bold f-red text-right vcenter">
                        <div class="tabcell">
                            <%= selectedOffer.price %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                <div class="tabcell">
                    DIRECCI&Oacute;N POSTAL DE LA TARJETA
                </div>
            </div>

            <form id="form-payment-step-2">

                <div class="autobar diffr">
                    <div class="container">
                        <div class="basicrow">
                            <input type="text" name="address_1" class="inpln f-bold f-reg f-black" value="<%= (paymentData!= null)?paymentData.address1:'' %>" placeholder="Direcci&oacute;n 1">
                        </div>

                        <div class="basicrow m-top">
                            <input type="text" name="address_2" class="inpln f-bold f-reg f-black" value="<%= (paymentData!= null)?paymentData.address2:'' %>" placeholder="Direcci&oacute;n 2 (Opcional)">
                        </div>

                        <div class="basicrow m-top-ii">
                            <select class="selln f-bold f-med f-black" name="state">
                                <% _.each(states, function(state, index) { %>
                                <option value="<%= state.code%>" <%=( state.code==defaultState)? 'selected': ''%>>
                                <%=state.name%>
                                </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="basicrow m-top">
                            <input type="number" name="postal_code" class="inpln f-bold f-reg f-black" value="<%= (paymentData!= null)?paymentData.postalCode:'' %>" placeholder="C&oacute;digo Postal" maxlength="5" formnovalidate>
                        </div>
                    </div>
                </div>

            </form>

            <div class="autobar diff">
                <div class="container">
                    <div class="r-btn text-center f-med f-white vcenter payment-step-3">
                        <div class="tabcell">
                            Pagar
                        </div>
                    </div>

                    <div class="g-btn text-center f-med f-white vcenter btn-back-step-1">
                        <div class="tabcell">
                            Cancelar
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include footer %>

    </div>

</script>