<script type="text/template" id="profile">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mi Perfil</span>
				</div>
			</div>

			<div class="subtitle ntop din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					CONTACTO PRINCIPAL EN LA CUENTA
				</div>
			</div>

			<div class="lineb">

				<div data-toggle="collapse" data-target="#user-profile" class="phonebar">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black">Informaci&oacute;n de Usuario</span>
						</div>
					</div>
				</div>

				<div id="user-profile" class="collapse info-container">
					<div class="basicrow">
						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Nombre y Apellido
								</div>

								<div class="basicrow m-top-ii">
									<div class="f-med f-black text-justify f-bold">
										<%= name %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Correo Electr&oacute;nico
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese un correo electr&oacute;nico v&aacute;lido">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="email" id="email" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= email %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									N&uacute;mero de Celular
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="N&uacute;mero de celular de contacto">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="telephone1" id="telephone1" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= telephone1 %>" maxlength="10" novalidate>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Tel&eacute;fono del Hogar
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="N&uacute;mero de tel&eacute;fono del hogar">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="telephone2" id="telephone2" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= telephone2 %>" maxlength="10" novalidate>
								</div>
							</div>
						</div>

						<div class="autobar diff-i">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell" id="btn-user-profile">
										Guardar Cambios
									</div>
								</div>

								<div class="g-btn text-center f-med f-white vcenter">
									<div class="tabcell btn-cancel" data-target="#user-profile">
										Cancelar
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div data-toggle="collapse" data-target="#password" class="phonebar">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black">Contrase&ntilde;a de Entrada</span>
						</div>
					</div>
				</div>

				<div id="password" class="collapse info-container">
					<div class="basicrow">
						<div class="autobar">
							<div class="container">
								<div class="basicrow rel">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese la contrase&ntilde;a actual">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="password" name="password-old" id="password-old" placeholder="Contrase&ntilde;a Actual" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= oldPassword %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow rel">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese la nueva contrase&ntilde;a">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="password" name="password-new" id="password-new" placeholder="Nueva Contrase&ntilde;a" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= newPassword %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow rel">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Confirme su nueva contrase&ntilde;a">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="password" name="password-new-conf" id="password-new-conf" placeholder="Confirmar Nueva Contrase&ntilde;a" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= newConfPassword %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Pregunta Secreta
								</div>

								<div class="basicrow m-top-ii">
									<div class="f-med f-black text-justify f-bold" id="question1-value">
										<% _.each(questions, function(object, index) { %>
										<% if (object.QuestionID==question1) { %>
										<%= object.Question %>
										<% } %>
										<% }); %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Respuesta
								</div>

								<div class="basicrow m-top-ii">
									<div class="f-med f-black text-justify f-bold">
										<%= answer1%>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar diff-i">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell" id="btn-password">
										Guardar Cambios
									</div>
								</div>

								<div class="g-btn text-center f-med f-white vcenter">
									<div class="tabcell btn-cancel" data-target="#password">
										Cancelar
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div data-toggle="collapse" data-target="#address" class="phonebar">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black">Direcci&oacute;n Postal</span>
						</div>
					</div>
				</div>

				<div id="address" class="collapse info-container">
					<div class="basicrow">
						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Direcci&oacute;n 1
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese su Direcci&oacute;n Postal incluyendo # de Buz&oacute;n e.j. PO Box 1234">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="address1" id="address1" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= address1 %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Direcci&oacute;n 2 (Opcional)
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Escriba en este campo la Urbanizaci&oacute;n, Barrio, Sector, etc">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="address2" id="address2" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= address2 %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Ciudad
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese la ciudad">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="city" id="city" class="inpln inf f-bold f-reg f-dgray hideShowFooter" value="<%= city %>">
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Estado
								</div>

								<div class="basicrow m-top-ii">
									<div class="f-med f-black text-justify f-bold">
										<%= state %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									Pa&iacute;s
								</div>

								<div class="basicrow m-top-ii">
									<div class="f-med f-black text-justify f-bold">
										<%= country %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">
									C&oacute;digo Postal
								</div>

								<div class="basicrow rel m-top-ii">
									<div class="inficon" data-toggle="popover" data-placement="left" data-content="Ingrese el c&oacute;digo postal">
										<img src="images/qst-icon.png" width="100%;" alt="">
									</div>

									<input type="text" name="zip" id="zip" value="<%= zip %>" maxlength="10" class="inpln inf f-bold f-reg f-dgray hideShowFooter">
								</div>
							</div>
						</div>

						<div class="autobar diff-i">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell" id="btn-address">
										Guardar Cambios
									</div>
								</div>

								<div class="g-btn text-center f-med f-white vcenter">
									<div class="tabcell btn-cancel" data-target="#address">
										Cancelar
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="autobar diff">
					<div class="container">
						<div class="r-btn text-center f-med f-white vcenter">
							<div class="tabcell" id="btn-add-accounts">
								Manejo de su Cuenta
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<% include footer %>

	</div>

	<div id="popover-content-input-password" class="hide">
			<div style="background-color: #FFF;">
				<ul>
					<li class="validate-length"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel" /> Entre 8 y 10 caracteres.</li>  
					<li class="validate-lower"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos una letra min&uacute;scula.</li>  
					<li class="validate-upper"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos una letra may&uacute;scula .</li> 
					<li class="validate-number"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos 2 n&uacute;meros </li>
					<li class="validate-repeat"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> No repetir 4 caracteres iguales </li>
					<li class="validate-character"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> No est&aacute; permitido ning&uacute;n car&aacute;cter especial o no alfanum&eacute;rico. </li>
				</ul>
			</div>
		</div> 
                 
</script>