<script type="text/template" id="purchases">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow mbott">
				<div class="container">
					<div class="basicrow">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-26"></span> Compras
						</div>
					</div>

					<div class="basicrow m-top-i">
						<img width="100%" src="images/buysbanner.jpg">
					</div>

					<div class="basicrow m-top-i">
						<div class="basicrow f-title roboto-l f-black">
							Nuestros Servicios
						</div>

						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
									<div class="row">
										<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
											<img width="100%" src="images/buyimage-i.jpg">
										</div>

										<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
											<div class="buytitle f-big roboto-l f-black">
												Tienda
											</div>

											<div class="basicrow f-mildt roboto-l f-mgray">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</div>

											<div class="basicrow m-top-ii">
												<a class="linkdefs f-med">
													Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
									<div class="row">
										<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
											<img width="100%" src="images/buyimage-ii.jpg">
										</div>

										<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
											<div class="buytitle f-big roboto-l f-black">
												Compra de Paquetes Adicionales de Datos
											</div>

											<div class="basicrow f-mildt roboto-l f-mgray">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</div>

											<div class="basicrow m-top-ii">
												<a class="linkdefs f-med">
													Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
									<div class="row">
										<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
											<img width="100%" src="images/buyimage-iii.jpg">
										</div>

										<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
											<div class="buytitle f-big roboto-l f-black">
												Compra de Servicio Valor Agregado
											</div>

											<div class="basicrow f-mildt roboto-l f-mgray">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</div>

											<div class="basicrow m-top-ii">
												<a class="linkdefs f-med">
													Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
									<div class="row">
										<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
											<img width="100%" src="images/buyimage-iv.jpg">
										</div>

										<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
											<div class="buytitle f-big roboto-l f-black">
												Regala 1GB
											</div>

											<div class="basicrow f-mildt roboto-l f-mgray">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</div>

											<div class="basicrow m-top-ii">
												<a class="linkdefs f-med">
													Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-iii">
									<div class="row">
										<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
											<img width="100%" src="images/buyimage-v.jpg">
										</div>

										<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
											<div class="buytitle f-big roboto-l f-black">
												Regala 1 Recarga
											</div>

											<div class="basicrow f-mildt roboto-l f-mgray">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</div>

											<div class="basicrow m-top-ii">
												<a class="linkdefs f-med">
													Ver Detalles&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
