<script type="text/template" id="refiere_step_1">

	<div id="wrapper" class="appsize">

		<div class="popupbg popup-cant" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-justify f-black roboto-r">
					<span class="roboto-b">&#161;Gracias por su inter&eacute;s en nuestro Programa de Refiere y Gana&#33;</span> Su cuenta no cumple con los requisitos de participaci&oacute;n de este programa. Para informaci&oacute;n adicional comun&iacute;quese con unos de nuestros Coordinadores de Servicio al Cliente a trav&eacute;s de nuestro CHAT o revise las reglas y t&eacute;rminos y condiciones de esta promoci&oacute;n.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top-i">
					<div class="red btns savech centr vcenter btn-home">
						<div class="tabcell" id="cancel-cant">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-select" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Verificación de Referidos
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Cuenta</label>

					<div class="basicrow">
						<select id="select-account" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Teléfono</label>

					<div class="basicrow">
						<select id="select-subscriber" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-select">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-select">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-update" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Actualiza tu Perfil
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Escoge pasatiempo favorito</label>

					<div class="basicrow">
						<select id="select-hobby"  class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Fecha de Nacimiento</label>

								<div class="basicrow rel">
									<i class="fa fa-calendar inpcal-icon" aria-hidden="true"></i>

									<input id="date" type="date" value="1980-05-02" class="inp-f qt">
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Factura Electr&oacute;nica de Servicio</label>

								<div class="basicrow">
									<input type="email" id="email" class="inp-f">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
					<img class="plessicon" width="100%" src="images/fact-dig.png">

					<div class="popopt less-m roboto-b">
						Paperless:
					</div>

					<div class="popopt">
						<input id="radio-yes" type="radio" name="group-paperless"> Si
					</div>

					<div class="popopt">
						<input id="radio-no" type="radio" name="group-paperless"> No
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-update">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-update">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-post" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor pague el balance pendiente abajo mostrado y presione la opci&oacute;n Pagar.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="balancesptr-ii text-center refdef">
						<span class="roboto-b">
							Balance Pendiente
						</span><br>

						<span class="f-red f-lsemi roboto-b" id="balance-post">
							$0.00
						</span>
					</div>

					<div class="basicrow visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-ii ref-nbrd refdef">
						<label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

						<div class="basicrow rel">
							<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

							<input id="value-balance-post" value="&#36;0.00" class="inp-f refdefnt qt">
						</div>
					</div>
				</div>

				<div class="basicrow m-top-u">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-post">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-post">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-pre" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor recargue el balance a su cuenta prepaga mostrada y presione la opci&oacute;n Pagar o de lo contrario presione el bot&oacute;n Cancelar para abandonar el proceso.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
							<div class="basicrow">
								<label class="label-r roboto-b">Recarga Prepago &#45; Monto a Pagar (&#36;)</label>

								<div class="basicrow rel">
									<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

									<input value="&#36;174.87" class="inp-f refdefnt qt">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-pre">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-pre">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-21"></span> Programa Refiere y Gana
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="container nocont">
						<div class="basicrow rel m-top-i">
							<img width="100%" class="innerban" src="images/refbanimg.jpg">

							<div class="innerbantexts">
								<div class="basicrow f-black roboto-l">
									Por cada amigo que refieras<br/>
									<span class="f-reg f-mgray">Obtendras cupones</span>
								</div>

								<div class="basicrow">
									<div id="btn-refiere" class="btns blue refdef vcenter rippleB">
										<div class="tabcell">
											Refiere&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>

									<div id="btn-redimir" class="btns blue refdef refdefleft vcenter rippleB">
										<div class="tabcell">
											Redimir&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i lessm">
					<div class="container">
						<div class="basicrow m-top-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 roboto-l f-black text-justify">
									<span class="f-big less-f">&#191;Qu&eacute; es el programa de Refiere y Gana&#63;</span><br/><br/>
									<span class="f-reg-i f-mgray">Este programa tiene como objetivo incentivar a nuestros clientes existentes a recomendarnos a sus amigos, familiares, conocidos, cuando el cliente referido activo uno de los servicios aplicables de la promoci&oacute;n en CLARO.</span>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 text-center">
									<img width="100%" class="reflaptimg" src="images/reflaptopimg.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow graybg">
					<div class="container">
						<div class="basicrow">
							<div class="row refdef">
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<div class="basicrow text-center">
										<img width="100%" class="ref-icons" src="images/reficon1.png">
									</div>

									<div class="basicrow f-black roboto-l text-justify m-top">
										<div class="basicrow f-mildt text-left">
											&#191;Qu&eacute; hago para participar&#63;
										</div>

										<div class="f-reg roboto-r f-black basicrow m-top">
											Accede a nuestra p&aacute;gina <a href="https://www.claropr.com/personas/" target="_blank" class="linkdefs">www.claropr.com</a>, ingresa la informaci&oacute;n requerida, acepta los t&eacute;rminos y condiciones del programa y comienza a referir.
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
									<div class="basicrow text-center">
										<img width="100%" class="ref-icons" src="images/reficon2.png">
									</div>

									<div class="basicrow f-black roboto-l text-justify m-top">
										<div class="basicrow f-mildt text-left">
											&#191;Hay l&iacute;mite de referidos&#63;
										</div>

										<div class="f-reg roboto-r f-black basicrow m-top">
											No existe l&iacute;mite de referidos.
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">
									<div class="basicrow text-center">
										<img width="100%" class="ref-icons" src="images/reficon3.png">
									</div>

									<div class="basicrow f-black roboto-l text-justify m-top">
										<div class="basicrow f-mildt text-left">
											&#191;Vigencia del cup&oacute;n&#63;
										</div>

										<div class="f-reg roboto-r f-black basicrow m-top">
											El cliente existente que refiere podr&aacute; disfrutar su cup&oacute;n a partir del octavo d&iacute;a de la fecha de activaci&oacute;n de servicio m&oacute;vil del cliente referido o una vez se complete la instalaci&oacute;n del servicio fijo del cliente prospecto.<br/><br/>

											<span class="roboto-b">Cliente referido tendr&aacute; hasta 12 meses a partir del recibo del correo electr&oacute;nico para activar uno de los servicios aplicables a la promoci&oacute;n en CLARO.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</script>
