<script type="text/template" id="refiere_step_2">

	<div id="wrapper" class="appsize">

		<div class="popupbg popup-terms" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/> <br/>


							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/> <br/>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-success" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-center">
					<div class="rdtitles">
						Invitaciones enviadas <span class="roboto-b">exitosamente</span>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i">
					Gracias por participar en el Programa de Referidos de Claro. Su invitaci&oacute;n fue enviada a sus contactos.
				</div>

				<div class="basicrow text-center m-top-i">
					<div id="ok-success" class="red btns savech centr vcenter rippleR">
						<span class="tabcell">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-bott">
				<div class="refbgmdl">
					<div class="basicrow f-refdef">
						Refiere y Gana <img width="100%" src="images/refgiftimg.png">
					</div>

					<div class="basicrow f-med roboto-r m-top">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
								Por cada amigo que refieras y se convierte en un cliente Claro ahora obtendr&aacute;s cr&eacute;ditos que podr&aacute;s usar para compras en Claro o pago de tus servicios.
							</div>
						</div>
					</div>

					<div class="basicrow m-top-i">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3">
								<div class="basicrow rel">
									<input class="inp-f" type="email" id="email" style="margin-right: auto; margin-left: auto;">
								</div>
								<div class="basicrow rel">
									<input class="inp-f" type="text" value="" data-role="tagsinput" id="tags" style="background: transparent; border: none;">
								</div>
							</div>
						</div>
					</div>

					<div class="basicrow">
						<div id="btn-next" class="btns centr red refbtn vcenter rippleR">
							<div class="tabcell">
								Invitar a tus amigos
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="basicrow f-black f-big roboto-r text-center m-top-i">
						Otras maneras de compartir
					</div>

					<div class="basicrow m-top text-center">
						<div id="share-mail" class="refsocials mailng">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>

						<div id="share-face" class="refsocials fcbook">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</div>

						<div id="share-twitter" class="refsocials twtt">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>

						<div id="share-wp" class="refsocials whtsapp">
							<i class="fa fa-whatsapp" aria-hidden="true"></i>
						</div>
					</div>

					<div class="basicrow m-top text-center">
						<div class="container">
							<div class="reflinkdef">
								<span id="share-link" style="display: none">

								</span>

								<img id="copy" width="100%" src="images/reflink-copy.png">
							</div>
						</div>
					</div>

					<div class="basicrow roboto-r text-center m-top">
						<input id="checkbox-terms" type="checkbox" style="cursor: pointer;"> <a id="link-terms" class="linkdefs reftermlink">T&eacute;rminos y condiciones de la promoci&oacute;n <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="basicrow bg-gray-i m-top-i ">
					<div class="basicrow">
						<div class="basicrow f-btitle f-black text-center">
							Cr&eacute;dito por Referidos
						</div>

						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="sumAvialable" class="f-lsemi f-blue">
														$0
													</span><br/><br/>

												<span class="f-bmed">
														Cr&eacute;ditos Disponibles
													</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalCredits" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
														Amigos Referidos
													</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalRedeem" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
														Amigos Convertidos
													</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i m-bott">
					<div class="container">
						<div class="basicrow f-btitle f-black text-center">
							&#191;Tienes preguntas a&uacute;n&#63;
						</div>

						<div class="basicrow m-top-i">
							<div class="btns blue refredm centr vcenter rippleB">
								<div class="tabcell">
									FAQ&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</script>
