<script type="text/template" id="help">
    
    <div id="wrapper">
        <div class="stopfoot-i">
    
            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>
    
            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med"><%=title%></span>
                </div>
            </div>
    
            <div id="wrapper">
                <div class="stopfoot-i">
                    <div class="container">
                      <% if (emailInvalid) { %>
                      
                      <div class="basicrow f-little din-b m-top-ii">
                    		Estimado usuario.<br><br>
                            Hemos detectado que su correo electr&oacute;nico no es v&aacute;lido, requerimos el cambio de su  Correo Electr&oacute;nico / Usuario y la actualizaci&oacute;n de su Contrase&ntilde;a temporal. Siempre con el objetivo de brindarle una mejor calidad de servicio.
                      </div>
                      
                        <div class="basicrow m-top">
                            <input type="text" id="email" class="inpln f-bold f-reg f-black" placeholder="Correo Electrónico / Usuario" value="" autocapitalize="off">
                        </div>
                      <% } %>

                        <div class="basicrow m-top">
                            <input type="password" id="password-old" class="inpln f-bold f-reg f-black" placeholder="Contrase&ntilde;a Actual" value="" autocapitalize="off">
                        </div>
                        <div class="basicrow m-top">
                            <input type="password" id="password-new" class="inpln f-bold f-reg f-black" placeholder="Nueva Contrase&ntilde;a" value="" autocapitalize="off">
                        </div>
                        <div class="basicrow m-top">
                            <input type="password" id="password-new-conf" class="inpln f-bold f-reg f-black" placeholder="Repita Nueva Contrase&ntilde;a" value="" autocapitalize="off">
                        </div>
                        
                        <div class="basicrow m-top-ii">
                            <div class="r-btn text-center f-med f-white vcenter">
                                <div class="tabcell" id="btn-reset">
                                    Continuar
                                </div>
                            </div>
                        
                            <div class="g-btn text-center f-med f-white vcenter">
                                <div class="tabcell" id="btn-clear">
                                    Borrar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <% include footer %>
    
    </div>
    
    </script>
