<script type="text/template" id="service">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mis Servicios</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="lineb m-top">
				<% _.each(subscribers, function(value, index) { %>
				<div data-toggle="collapse" data-target="#phone<%= index %>" class="phonebar select-subscriber" data-index="<%= index %>" data-subscribers="<%= value.subscriber %>" id="select-subscriber-<%= index %>">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black" content="telephone=no"><%= value.subscriber %></span><br/>
							<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
						</div>
					</div>
				</div>

				<div id="phone<%= index %>" class="collapse">
					<div class="basicrow">
						<div class="basicrow">
							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Fecha de Contrato</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.StartDate %>
										</div>
									</div>
								</div>
							</div>

							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Su Contrato termina</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.EndDate %>
										</div>
									</div>
								</div>
							</div>

							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Meses de Contrato</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.ContarctMonth %>
										</div>
									</div>
								</div>
							</div>

							<% if(wirelessAccount) { %>

							<div class="<%= (value.hasTOPs)?'plan-detail':''%> autobar" data-subscriber="<%=(value.hasTOPs)?value.subscriber:''%>">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Plan Actual</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.Plan %> - $<%=parseFloat(value.PlanRate.replace('$','')).toFixed(2) %>
										</div>
									</div>
								</div>
							</div>

							<% if(value.hasTOPs){ %>
							<!-- FIXME STYLES-->
							<div class="plan-detail tab-arrow" data-subscriber="<%=(value.hasTOPs)?value.subscriber:''%>">
								<img src="images/tab-arrow.png" width="100%" alt="">
							</div>
							<!-- FIXME STYLES -->
							<% } %>

							<!-- Claro Update Account -->
							<% if (value.UpdateMonths>0) { %>
							<!-- FIXME STYLES-->
							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Equipos a Plazos:</div>
									<div class="basicrow m-top">
										<div class="contspace f-med f-black text-justify f-bold">
											<%= value.Divice %> <span class="pull-right"><%=value.UpdateRent %></span>
										</div>
									</div>
									<div class="basicrow m-top">
										<div class="contspace f-med f-black text-justify f-bold">
											Pagos restantes de equipo <span class="pull-right"><%= value.UpdateMonths %></span>
										</div>
									</div>
								</div>
							</div>
							<!-- FIXME STYLES-->
							<% }%>

							<div class="autobar <%= (value.hasSVAs)?'plan-detail':''%>" data-subscriber="<%=(value.hasSVAs)?value.subscriber:''%>">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Servicios Adicionales</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<!-- FIXME STYLES-->
											<% if (value.hasSVAs && value.SVA=='') { %>
											<% _.each(value.SVAs, function(sva, index) { %>
											<%= sva.PlanName %> - $<%= parseFloat(sva.Rent.replace('$','')).toFixed(2) %>
											<br>
											<%})%>
											<%}else if(!value.hasSVAs && value.SVA==''){%>
											N&uacute;mero de tel&eacute;fono no tiene SVA
											<%}else{%>
											<%= value.SVA %>
											<%}%>
											<%if(value.hasSVAs){%>
											<div class="plan-detail tab-arrow">
												<img src="images/tab-arrow.png" width="100%" alt="">
											</div>
											<% } %>
											<!-- FIXME STYLES-->
										</div>
									</div>
								</div>
							</div>

							<% }else{ %>
							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Plan Actual</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.Plan %>
										</div>
									</div>
								</div>
							</div>

							<div class="autobar" data-subscriber="<%= value.subscriber %>">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Servicios Adicionales</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.SVA!=''?value.SVA:'N&uacute;mero de tel&eacute;fono no tiene SVA' %>
										</div>
									</div>
								</div>
							</div>
							<% } %>

							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Renta Mensual</div>

									<div class="basicrow m-top-ii">
										<div class="contspace full f-med f-black text-justify f-bold">
											<%= value.TotalRate %>
										</div>
									</div>
								</div>
							</div>

							<div class="autobar diff-i">
								<div class="container">
									<div class="r-btn text-center f-med f-white vcenter">
										<div class="tabcell" id="btn-change-plan">
											Cambio de Plan
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% }); %>
			</div>

		</div>

		<% include footer %>

	</div>

</script>